/* directions */
/* //directions */
/* color */
/* //colors */
/* Overaly Mixin */
/* //Overaly Mixin */
/* Background Mixin */
/* //Background Mixin */
/* Prefixer Mixin */
/* //Prefixer Mixin */
/* Keyframes Animation Mixin */
/* //Keyframes Animation Mixin */
/* helpers */
/* //helpers */
body {
  direction: ltr;
  text-align: left;
}

/* animation */
/* hero animation */
.owl-hero .owl-item:nth-child(even).active .head h2 {
  animation: 1s 0.1s fadeInLeft both;
}

/* //hero animation */
/* vertical horizental animate */
@-webkit-keyframes vert-horz-animate-flip {
  0% {
    transform: translate(-2px, -8px);
  }
  50% {
    transform: translate(2px, 8px);
  }
  100% {
    transform: translate(-2px, -8px);
  }
}
@-moz-keyframes vert-horz-animate-flip {
  0% {
    transform: translate(-2px, -8px);
  }
  50% {
    transform: translate(2px, 8px);
  }
  100% {
    transform: translate(-2px, -8px);
  }
}
@keyframes vert-horz-animate-flip {
  0% {
    transform: translate(-2px, -8px);
  }
  50% {
    transform: translate(2px, 8px);
  }
  100% {
    transform: translate(-2px, -8px);
  }
}
/* //vertical horizental animate */
/* circle animate */
@-webkit-keyframes circle-animate-flip {
  0% {
    transform: translateX(0);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(7rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@-moz-keyframes circle-animate-flip {
  0% {
    transform: translateX(0);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(7rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@keyframes circle-animate-flip {
  0% {
    transform: translateX(0);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(7rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@-webkit-keyframes circle-animate-center-flip {
  0% {
    transform: translateX(-4rem);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(4rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@-moz-keyframes circle-animate-center-flip {
  0% {
    transform: translateX(-4rem);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(4rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@keyframes circle-animate-center-flip {
  0% {
    transform: translateX(-4rem);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(4rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
/* //circle animate */
@-webkit-keyframes rotate-odd-aniamte-flip {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-moz-keyframes rotate-odd-aniamte-flip {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes rotate-odd-aniamte-flip {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-webkit-keyframes rotate-even-aniamte-flip {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-moz-keyframes rotate-even-aniamte-flip {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate-even-aniamte-flip {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
/* //rotate animate */
/* scroll top  animate */
@-webkit-keyframes scroll-top-flip {
  49% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(-20px, 20px);
  }
}
@-moz-keyframes scroll-top-flip {
  49% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(-20px, 20px);
  }
}
@keyframes scroll-top-flip {
  49% {
    transform: translate(20px, -20px);
  }
  50% {
    transform: translate(-20px, 20px);
  }
}
/* //scroll top aniamte*/
/* //animation */
/* language */
.arabic-language {
  display: flex !important;
}

.english-language {
  display: none !important;
}

/* //language */
/* modal */
.modal .modal-header .close {
  right: -6px;
  left: unset;
}

/* //modal */
/* form */
/* form control*/
.form-icon .form-control {
  padding: 0.375rem 1rem 0.375rem 2.9rem !important;
}

/* //form control */
/* select */
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-results__option,
.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-search--inline .select2-search__field {
  text-align: left !important;
}

.select2-container--default .select2-results > .select2-results__options {
  direction: ltr;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  right: 0;
  left: unset;
}

/* //select */
/* custom-file-label */
.custom-file-label::after {
  left: 0;
  right: unset;
}

/* //custom-file-label */
/* //form */
/* heading */
.head h3::before {
  left: 0;
  right: unset;
  transform: translateX(7rem);
  animation: circle-animate-flip 5s ease-in-out infinite forwards;
}
.head.text-center h3::before, .head.text-center h3::after {
  left: 0;
  right: 0;
}
.head.text-center h3::before {
  transform: translateX(-4rem);
  animation: circle-animate-center-flip 5s ease-in-out infinite forwards;
}

/* //heading */
/* tabs */
.tab .tab-content .tabs-item .card .card-header .card-icon {
  transform: rotate(-180deg);
}
.tab .tab-content .tabs-item .card .card-header .card-icon.rotate {
  transform: rotate(0);
}
.tab .tab-content .tabs-item .card .card-body ul {
  margin-left: 1rem;
  margin-right: 0;
}
.tab .tab-content .tabs-item .card .card-body p, .tab .tab-content .tabs-item .card .card-body ul li a {
  margin-left: 0;
  margin-right: 0;
}
.tab .tab-content .tabs-item .card p:hover, .tab .tab-content .tabs-item .card ul li a:hover {
  margin-left: 0.5rem;
  margin-right: 0;
}

/* //tabs */
/* header */
.navbar-light {
  background-color: transparent;
}
.navbar-light .navbar .sub-navbar {
  margin-left: auto;
  margin-right: unset;
}

/* //header */
/* hero */
.hero-sec .overlay-shape {
  right: -95px;
  left: unset;
  background: url(../images/mobile-mockup-flip.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  animation: vert-horz-animate-flip 3s linear infinite forwards;
}
.hero-sec::before {
  left: 0;
  right: auto;
  transform: scaleX(1);
}
.hero-sec .download-apps a:not(:last-child) {
  margin-right: 0.7rem;
  margin-left: 0;
}

/* //hero */
/* hero markets */
.hero-markets-sec .overlay-shape {
  left: unset !important;
  right: 0 !important;
}

/* //hero markets */
/* about */
.about-sec .image img {
  transform: scaleX(-1);
}
.about-sec ul li a {
  border-left: 4px solid #212531;
  border-right: unset;
}
.about-sec ul li a::before {
  left: 0;
  right: unset;
  transform: translateX(-100%);
}
.about-sec ul li a i {
  margin-right: 0.5rem;
  margin-left: 0;
}
.about-sec ul li a:hover i {
  margin-left: 0.7rem;
  margin-right: 0;
}

/* //about */
/* services */
.services-sec .content::before {
  background: linear-gradient(to right, #58f87b, #33683e, #58f87b);
}
.services-sec .content::after {
  background-size: 650px;
  background-position: right;
  background-repeat: repeat;
}
.services-sec .content:hover::before {
  background: linear-gradient(to left, #58f87b94, #58b76ce0, #1d8635);
}
.services-sec .content:hover::after {
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
}
.services-sec .col-lg-4:nth-child(odd) .content a::before {
  animation: rotate-odd-aniamte-flip 7s ease-in infinite;
}
.services-sec .col-lg-4:nth-child(even) .content a::before {
  animation: rotate-even-aniamte-flip 7s ease-out infinite;
}

/* //services */
/* account steps */
.account-steps-sec .row::before {
  background: url(../images/vector-dots-flip.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

/* //account steps */
/* work process */
.work-process-sec::before {
  right: 0;
  left: unset !important;
  background: url(../images/vector-dark-blue-flip.png);
  background-size: cover;
  background-position: right;
  background-repeat: no-repeat;
}
.work-process-sec .content ul li::before {
  left: 1rem;
  right: unset;
}
.work-process-sec .content ul li a .sub-head {
  margin-left: 4rem;
  margin-right: 0 !important;
}
.work-process-sec .content ul li a:hover .sub-head {
  margin-left: 4.5rem;
}

/* //work process */
/* contact us */
.contact-us-sec .content .col-lg-5 {
  margin-left: auto;
  margin-right: 0;
}
.contact-us-sec .content .contact-list ul li a {
  text-align: left;
}
.contact-us-sec .content .contact-list ul li a .text {
  margin-left: 1rem;
  margin-right: 0;
}

/* //contact us */
/* scroll */
/* scroll to top */
.auto-scroll-to-top {
  right: 2.3rem;
  left: unset;
}
.auto-scroll-to-top:hover i {
  animation: scroll-top-flip 1.5s ease-in-out infinite forwards;
}

/* //scroll to top */
/*--media query--*/
@media screen and (max-width: 1200px) and (min-width: 1121px) {
  /* hero */
  .hero-sec .overlay-shape {
    width: 50%;
    right: 0;
  }

  /* //hero */
  /* work process */
  .work-process-sec::before {
    right: -100px;
  }

  /* //work process */
}
@media screen and (max-width: 1120px) {
  .work-process-sec::before {
    right: -250px;
  }
}
@media screen and (max-width: 1024px) {
  /* work process */
  .work-process-sec::before {
    right: -250px;
  }

  /* work process */
}
@media screen and (max-width: 991px) {
  /* header */
  .navbar-light .navbar-collapse {
    clip-path: circle(50px at 90% -20%);
  }
  .navbar-light .navbar-collapse.open {
    clip-path: circle(1300px at 80% -10%);
  }
  .navbar-light .navbar-nav .nav-item {
    transform: translateX(-50%);
  }

  /* //header */
  /* hero */
  .hero-sec .overlay-shape {
    right: 0 !important;
  }

  /* //hero */
  /* work process */
  .work-process-sec::before {
    top: 45%;
    right: 0 !important;
    background: url(../images/vector-dark-blue-flip-resp.png);
    background-size: 950px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 768px) {
  /* work process */
  .work-process-sec::before {
    top: 60%;
    background-size: 650px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 575px) {
  /* work process */
  .work-process-sec::before {
    background-size: 550px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 500px) {
  /* work process */
  .work-process-sec::before {
    background: url(../images/vector-dark-blue-flip-resp.png);
    background-size: 600px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 425px) {
  /* work process */
  .work-process-sec::before {
    background-size: 450px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 375px) {
  /* work process */
  .work-process-sec::before {
    top: 70% !important;
    background-size: 450px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 320px) {
  /* work process */
  .work-process-sec::before {
    top: 80% !important;
    background-size: 350px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
/*-//-media query--*/

/*# sourceMappingURL=style-en.css.map */
