
/* helpers */
@use 'sass/abstracts/variables' as var;
@use 'sass/abstracts/mixins';
/* //helpers */

$dir:ltr;
$right:left;
$left:right;

body{

    direction:$dir;
    text-align:$right;
  
}

 /* animation */

  /* hero animation */

  .owl-hero .owl-item:nth-child(even).active  .head h2{
                    
    animation: 1s 0.1s fadeInLeft both;
            
  }
  

  /* //hero animation */

   /* vertical horizental animate */

   @include mixins.keyframemixin(vert-horz-animate-flip){

    0%{

       transform: translate(-2px,-8px)
    }

    50%{

      transform: translate(2px,8px)
    }
    100%{

      transform: translate(-2px,-8px)
    }

 }

 /* //vertical horizental animate */

  /* circle animate */

  @include mixins.keyframemixin(circle-animate-flip){

    0%{

       transform: translateX(0);
       box-shadow: 0 0 0 5px #{var.$lightlightgreen};
    }

    100%{

      transform: translateX(7rem);
      box-shadow: 0 0 0 8px #{var.$whitegreencolor};
    }
   
 }
 
 @include mixins.keyframemixin(circle-animate-center-flip){

    0%{

       transform: translateX(-4rem);
       box-shadow: 0 0 0 5px #{var.$lightlightgreen};
    }

    100%{

      transform: translateX(4rem);
      box-shadow: 0 0 0 8px #{var.$whitegreencolor};
    }
   
 }
 /* //circle animate */

 @include mixins.keyframemixin(rotate-odd-aniamte-flip){

    0%{

       transform: rotate(-90deg);
    }

    50%{

      transform: rotate(90deg);
      
    }
    100%{

      transform: rotate(-90deg);
    }
   
 }

 @include mixins.keyframemixin(rotate-even-aniamte-flip){

  0%{

     transform: rotate(90deg);
  }

  50%{

    transform: rotate(-90deg);
    
  }
  100%{

    transform: rotate(90deg);
  }
 
}

  /* //rotate animate */

  /* scroll top  animate */
  @include mixins.keyframemixin(scroll-top-flip){

    49% {
        transform: translate(20px,-20px)
    }
    50% {
  
        transform: translate(-20px,20px)
    }
  }
    /* //scroll top aniamte*/
  
  /* //animation */

  /* language */
  .arabic-language{

    display: flex  !important;

  }
  .english-language{

    display:none !important;

  }
  /* //language */

   /* modal */

  .modal {
    
    .modal-header {
       
      .close {
  
        #{var.$right}: -6px;
        #{var.$left}:unset;

      }
    }
}

  /* //modal */

  /* form */
  /* form control*/
  .form-icon {
    
    .form-control {
  
          padding: 0.375rem 1rem 0.375rem 2.9rem !important;
      }
  }
  /* //form control */
 /* select */

  .select2-container--default .select2-search--dropdown .select2-search__field,
  .select2-results__option,
  .select2-container .select2-selection--single .select2-selection__rendered,
  .select2-container .select2-search--inline .select2-search__field{

  
    text-align: var.$left !important;
    
}

.select2-container--default .select2-results>.select2-results__options{

  direction: ltr;

}
.select2-container--default .select2-selection--single .select2-selection__arrow {
   

  #{var.$right}: 0;
  #{var.$left}:unset;

}

 /* //select */

 /* custom-file-label */

 .custom-file-label{

    &::after {
  
      #{var.$left}: 0;
      #{var.$right}:unset;


     }
 

  }
 /* //custom-file-label */

 /* //form */


 
/* heading */
 .head{

    h3{
    
     &::before{
    
    
       #{$right}: 0;
       #{$left}:unset;
       transform: translateX(7rem);
       animation: circle-animate-flip 5s ease-in-out infinite forwards;
     }
    
     }
    
     &.text-center{

        h3{
  
          &::before,
          &::after{
  
            #{$right}: 0;
            #{$left}: 0;
          }
          &::before{
  
            transform: translateX(-4rem);
            animation: circle-animate-center-flip 5s ease-in-out infinite forwards;
          }
        }
      }
     }
    
    
/* //heading */


/* tabs */

.tab{


   &{
      .tab-content{

 
        .tabs-item {
    
        
         .card{
 
    
           .card-header {
 

             .card-icon{
 
            
               transform: rotate(-180deg);
         
             }
 
             .card-icon.rotate{
 
               transform: rotate(0);
               
             }
           }

           .card-body{

            ul{
  
              margin-#{$right}: 1rem;
              margin-#{$left}: 0;
            }
            p,ul li a{
  
                
                margin-#{$right}: 0;   
                margin-#{$left}: 0;

                }
              }
      
           p:hover,ul li a:hover{
 
                 margin-#{$right}: 0.5rem;
                 margin-#{$left}: 0;
               }
             }
          
       }
 
    
       }
     }
   }

/* //tabs */   
 
/* header */
  
 .navbar-light{

    background-color: transparent;

    .navbar{

    
      .sub-navbar{

        margin-#{$right}: auto;
        margin-#{$left}:unset;
        
      }
     
     
    }
 
  }
  /* //header */

   /* hero */

   .hero-sec{

    .overlay-shape{
    
    
        #{$left}: -95px;
        #{$right}:unset;
        background: url(../images/mobile-mockup-flip.png);
        @include mixins.backgroundmixin($size:cover,$repeat:no-repeat);
        animation: vert-horz-animate-flip 3s linear infinite forwards;




    }
    &::before{


        #{$right}:0;
        #{$left}:auto;
        transform: scaleX(1);
    

    }
   
    .download-apps{
 
  
          a:not(:last-child){
              margin-#{$left}:0.7rem;
              margin-#{$right}:0;
        }
      }
  
   
    
   }
/* //hero */

/* hero markets */

.hero-markets-sec{


  .overlay-shape{
  
    
      #{var.$left}:unset !important;
      #{var.$right}:0 !important;

  }

}
/* //hero markets */

/* about */

.about-sec{


    .image{

        img{

            transform: scaleX(-1);
        }
    }

    ul {

        li{
 
            a{

                border-#{$right}:4px solid #{var.$mainblackcolor}; 
                border-#{$left}:unset; 


                &::before{

                  #{$right}: 0;
                  #{$left}: unset;
                  transform: translateX(-100%);
        

                }
                
                  i{

                    margin-#{var.$right}:0.5rem;
                    margin-#{var.$left}:0;
                   
                  }
                  &:hover{
                    i{
                    
                        margin-#{$right}:0.7rem;
                        margin-#{$left}:0;
                    }
                }
                
            }

         
        } 
    }


}
/* //about */

/* services */

 .services-sec{


    .content{
    &::before{
            
       
        background: linear-gradient(to #{$left},#58f87b  , #33683e ,#58f87b );
       
      }

      &::after{

        @include mixins.backgroundmixin(650px,right,repeat);

      
      }

      &:hover
      {
        &::before{

        background: linear-gradient(to  #{$right}, #58f87b94, #58b76ce0, #1d8635);

      }
    }

      &:hover
      {
        &::after{
        @include mixins.backgroundmixin(cover,left,no-repeat);
        
      }
    }
    }

    .col-lg-4:nth-child(odd){
        .content{
          a {

            &::before{
             
                animation: rotate-odd-aniamte-flip 7s ease-in infinite;
            
            }
          }
        }

      }

      .col-lg-4:nth-child(even){
        .content{
          a {

            &::before{
              
                animation: rotate-even-aniamte-flip 7s ease-out infinite;
              
            }
          }
        }

      }
}

/* //services */

/* account steps */

 .account-steps-sec{


    .row{


    
        &::before{
  
          background: url(../images/vector-dots-flip.png);
          @include mixins.backgroundmixin(auto,center,no-repeat);
        
  
        }
      }
}

/* //account steps */

/* work process */

   
 .work-process-sec{

    &::before{

      #{$left}:0;
      #{$right}:unset !important;
      background: url(../images/vector-dark-blue-flip.png);
      @include mixins.backgroundmixin(cover,#{$left},no-repeat);
     
  }
  .content{

    ul {

      li{


        &::before{

    
          #{$right}: 1rem;
          #{$left}: unset;
         }

         a{

            .sub-head{
          
              margin-#{$right}:4rem; 
              margin-#{$left}:0 !important;            
    
         }
         &:hover{

            .sub-head{

              margin-#{$right}:4.5rem;

            }
          }
        }
        }
    }
}
}

/* //work process */

/* contact us */

 .contact-us-sec{

    .content{
         
     .col-lg-5{
  
      margin-#{$right}: auto;
      margin-#{$left}: 0;
  
      }

      .contact-list{
  
        ul {
     
         li{
     
           a{
            
              text-align: #{$right};
            
    
             .text{
     
               margin-#{$right}: 1rem;
               margin-#{$left}:0;
            
             }
            
           }
         }
       }
        }
    }

   
}

 /* //contact us */

 /* scroll */
/* scroll to top */
  
 .auto-scroll-to-top {


    #{$left}:2.3rem;
    #{$right}:unset;



    &:hover{
       i{
        
        animation:scroll-top-flip 1.5s ease-in-out infinite forwards;
    
    }
  }

 }
   
    
  /* //scroll to top */

 /*--media query--*/

  @media screen and (max-width:1200px) and (min-width:1121px){
    

      /* hero */
    .hero-sec {
      
      .overlay-shape {
  
          width: 50%;
          #{var.$right}: 0;
        }
      }
      /* //hero */
  
  
       /* work process */
    .work-process-sec{
  
          &::before {
  
      
              #{var.$right}: -100px;
  
          }
      }
          /* //work process */
  
  
  }
  @media screen and (max-width:1120px){
    

     .work-process-sec{

        &::before {

    
            #{var.$right}: -250px;

        }
    }


  }
  @media screen and  (max-width:1024px){
    


  /* work process */
  .work-process-sec{

      &::before {

  
          #{var.$right}: -250px;

      }
  }
   /* work process */


  }
  @media screen and (max-width:991px) {


    /* header */

  .navbar-light{

    .navbar-collapse{

     
        clip-path: circle(50px at 90% -20%);
    

    }
    .navbar-collapse.open{
    
        clip-path: circle(1300px at 80% -10%);
      
          
    }

    .navbar-nav {
        
      .nav-item{
      
        
          transform: translateX(-50%);
          
      }
   
      }
  


    
    }
    /* //header */

    /* hero */
    .hero-sec {
       
    
        .overlay-shape {

          
            #{var.$right}: 0 !important;
           
         }
 
    
    }
    /* //hero */

    /* work process */
 .work-process-sec{
    
  &::before {

  
   top: 45%;
   #{var.$right}: 0 !important;
   background: url(../images/vector-dark-blue-flip-resp.png);
   @include mixins.backgroundmixin(950px,unset,no-repeat);

 }

}
/* //work process */

   
  }
  @media screen and (max-width:768px){


       
  /* work process */
 .work-process-sec{
      
      &::before {
  
        top:60%;
       @include mixins.backgroundmixin(650px,unset,no-repeat);
  
     }
    
  }
  /* //work process */
  
  }
  @media screen and (max-width:575px){
  
   /* work process */
.work-process-sec{
      
  &::before {

   @include mixins.backgroundmixin(550px,unset,no-repeat);

 }

}
/* //work process */

  }
  @media screen and (max-width:500px){


   /* work process */
  .work-process-sec{
   
    &::before {

     background: url(../images/vector-dark-blue-flip-resp.png);
     @include mixins.backgroundmixin(600px,unset,no-repeat);

   }
  
 }

 /* //work process */



  }
  @media screen and (max-width:425px){


   /* work process */
  .work-process-sec{
   
    &::before {

     @include mixins.backgroundmixin(450px,unset,no-repeat);

   }
  
 }

 /* //work process */



  }
  @media screen and (max-width:375px){



   /* work process */
  .work-process-sec{
   
    &::before {

     top: 70% !important;
     @include mixins.backgroundmixin(450px,unset,no-repeat);

   }
  
 }

 /* //work process */



  }
  @media screen and (max-width:320px){


  
   /* work process */
  .work-process-sec{
   
    &::before {

      top:80% !important;
     @include mixins.backgroundmixin(350px,unset,no-repeat);

   }
  
 }

 /* //work process */



  }

  /*-//-media query--*/

   



