@charset "UTF-8";
/* directions */
/* //directions */
/* color */
/* //colors */
/* Overaly Mixin */
/* //Overaly Mixin */
/* Background Mixin */
/* //Background Mixin */
/* Prefixer Mixin */
/* //Prefixer Mixin */
/* Keyframes Animation Mixin */
/* //Keyframes Animation Mixin */
@font-face {
  font-family: Markazi Text;
  src: url(../fonts/MarkaziText-Regular.ttf);
}
body {
  padding: 0;
  margin: 0;
  font-family: "Markazi Text", serif;
  color: #212531;
  font-size: 1rem;
  background-color: #ffff;
  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1.42857143;
  padding-right: 0 !important;
  overflow: hidden;
}

.body-content-wrapper {
  overflow: hidden;
  min-height: 100vh;
}

footer, .subscribe-sec, .hero-sec, .about-sec, .about-sec .content ul li a, .services-sec, .services-sec .content, .services-sec .content .icon a, .account-steps-sec .row, .work-process-sec, .work-process-sec .content ul li, .common-questions-sec, .contact-us-sec, .contact-us-sec .content .social-list ul li a, form-group, .btn, .navbar-light .navbar .navbar-nav .nav-item .nav-link, .tab ul li .tabs-link, .head {
  position: relative;
  z-index: 1;
}

.markets-work-sec, .about-sec, .services-sec, .account-steps-sec, .work-process-sec, .common-questions-sec {
  padding: 6rem 0;
}

.subscribe-sec, .hero-sec, .about-sec, .services-sec, .account-steps-sec, .work-process-sec, .contact-us-sec, .navbar-light {
  padding-right: 1.2rem;
  padding-left: 1.2rem;
}

.markets-work-sec .content, .services-sec .content, .account-steps-sec .content, .work-process-sec .content, .contact-us-sec .content, .tab {
  margin-top: 1.5rem;
}

.copy-right p a, .markets-developers-sec .tab .tab-content .tabs-item .card .card-body span, .about-sec .content ul li a:hover, .work-process-sec .content ul li a .count, .navbar-light .navbar .sub-navbar .nav-item .nav-link, .navbar-light .navbar .navbar-nav .nav-item .nav-link:hover, .navbar-light .navbar .navbar-nav .nav-item .nav-link:active, .navbar-light .navbar .navbar-nav .nav-item .nav-link:focus, .navbar-light .navbar .navbar-nav .nav-item .nav-link.active, .navbar-light .navbar .navbar-nav .nav-item.active .nav-link, .tab ul li .tabs-link, .tab .tab-content .tabs-item .card .card-body h5, h1, h2, h3, h4 {
  font-weight: 600;
}

.markets-developers-sec .tab .tab-content .tabs-item .card .card-body h5, h5, h6 {
  font-weight: 400;
}

.contact-us-sec .content .social-list ul li a, .tab ul li .tabs-link, .tab .tab-content .tabs-item .card, .tab .tab-content .tabs-item .card .card-header {
  border-radius: 0.5rem;
}

.form-control,
.select2-container--default .select2-selection--single, .select2-dropdown, .form-map, .form-map iframe {
  border-radius: 0.4rem !important;
}

.head h2, .sub-head h4, .sub-head h5 {
  text-transform: capitalize;
}

.auto-scroll-to-top, .copy-right p a, .markets-work-sec .content .icon img, .markets-work-sec .content h4, .about-sec .content ul li a, .about-sec .content ul li a::before, .about-sec .content ul li a i, .services-sec .content, .services-sec .content::before, .services-sec .content::after, .services-sec .content .icon a::before, .services-sec .content .icon a i, .services-sec .content h4, .services-sec .content p, .account-steps-sec .content .svg-icon svg,
.account-steps-sec .content h4, .work-process-sec .content ul li a, .work-process-sec .content ul li a .count, .work-process-sec .content ul li a .sub-head, .contact-us-sec .content .contact-list ul li a .text, .contact-us-sec .content .social-list ul li a, .form-control,
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow b, .select2-container--default .select2-selection--single .select2-selection__arrow b:before, .navbar-light .nav-toggler, .navbar-light .navbar .navbar-brand, .navbar-light .navbar .navbar-nav .nav-item .nav-link i, .tab ul li .tabs-link, .tab .tab-content .tabs-item .card .card-body p, .tab .tab-content .tabs-item .card .card-body ul li a, .loaded .preloader {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.navbar-light .navbar .navbar-nav .nav-item .nav-link, .contact-us-sec .content .social-list ul li a span:not(.icon), .btn span, .navbar-light .navbar .navbar-nav .nav-item .nav-link span:not(.text):not(.icon), .tab ul li .tabs-link span:not(.text) {
  -webkit-transition: all 0.4s linear;
  -moz-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  -ms-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.navbar-light.sticky-top.sticky-top::before, .tab .tab-content .tabs-item .card .card-header .card-icon {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contact-us-sec .content .social-list ul li a span:not(.icon), .btn span, .navbar-light .navbar .navbar-nav .nav-item .nav-link span:not(.text):not(.icon), .tab ul li .tabs-link span:not(.text) {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  background: transparent;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.contact-us-sec .content .social-list ul li a:hover span:not(.icon), .contact-us-sec .content .social-list ul li a:active span:not(.icon), .contact-us-sec .content .social-list ul li a:focus span:not(.icon), .btn:hover span, .btn:active span, .btn:focus span, .navbar-light .navbar .navbar-nav .nav-item .nav-link:hover span:not(.text):not(.icon), .navbar-light .navbar .navbar-nav .nav-item .nav-link:active span:not(.text):not(.icon), .navbar-light .navbar .navbar-nav .nav-item .nav-link:focus span:not(.text):not(.icon), .tab ul li .tabs-link:hover span:not(.text), .tab ul li .tabs-link:active span:not(.text), .tab ul li .tabs-link:focus span:not(.text), .tab ul li.active-tabs a span:not(.text) {
  width: 400%;
  height: 562.5px;
}

.navbar-light.sticky-top .navbar .navbar-nav .nav-item.active .nav-link span:not(.text):not(.icon), .navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item.active .nav-link span:not(.text):not(.icon) {
  top: 0 !important;
  bottom: 0 !important;
  right: 0 !important;
  left: 0 !important;
  width: 100%;
  height: 100%;
  transform: translate(0, 0);
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none !important;
  cursor: pointer !important;
}

a.d-flex {
  align-items: center;
}

a, button {
  outline: none;
  box-shadow: none;
}

button:focus {
  outline: none !important;
}

.inline {
  display: inline-block;
}

.line-2 {
  float: right;
}

h4 {
  font-size: 1.6rem;
  line-height: 30px;
}

h5 {
  font-size: 1.4rem;
}

p {
  font-size: 1.4rem;
  color: #8d8d8f;
  line-height: 32px;
}

.navbar-brand {
  margin-right: 0;
}

.arabic-language {
  display: none !important;
}

.english-language {
  display: flex;
}

/* animation */
/* close modal*/
@-webkit-keyframes rotate-icon {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@-moz-keyframes rotate-icon {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes rotate-icon {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(0);
  }
}
/* //close modal*/
/* hero animation */
.owl-hero .owl-item:nth-child(even).active .head h2 {
  animation: 1s 0.1s fadeInRight both;
}

.owl-hero .owl-item:nth-child(odd).active .head h2 {
  animation: 1s 0.1s fadeInUp both;
}

/* //hero animation */
/* sticy top animate */
@-webkit-keyframes sticky-top-aniamte {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@-moz-keyframes sticky-top-aniamte {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes sticky-top-aniamte {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}
/* //sticy top animate */
/* vertical horizental animate */
@-webkit-keyframes vert-horz-animate {
  0% {
    transform: translate(2px, 8px);
  }
  50% {
    transform: translate(-2px, -8px);
  }
  100% {
    transform: translate(2px, 8px);
  }
}
@-moz-keyframes vert-horz-animate {
  0% {
    transform: translate(2px, 8px);
  }
  50% {
    transform: translate(-2px, -8px);
  }
  100% {
    transform: translate(2px, 8px);
  }
}
@keyframes vert-horz-animate {
  0% {
    transform: translate(2px, 8px);
  }
  50% {
    transform: translate(-2px, -8px);
  }
  100% {
    transform: translate(2px, 8px);
  }
}
/* //vertical horizental animate */
/* circle animate */
@-webkit-keyframes circle-animate {
  0% {
    transform: translateX(0);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(-7rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@-moz-keyframes circle-animate {
  0% {
    transform: translateX(0);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(-7rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@keyframes circle-animate {
  0% {
    transform: translateX(0);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(-7rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@-webkit-keyframes circle-animate-center {
  0% {
    transform: translateX(4rem);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(-4rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@-moz-keyframes circle-animate-center {
  0% {
    transform: translateX(4rem);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(-4rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
@keyframes circle-animate-center {
  0% {
    transform: translateX(4rem);
    box-shadow: 0 0 0 5px #ccf7d5;
  }
  100% {
    transform: translateX(-4rem);
    box-shadow: 0 0 0 8px #d0fad979;
  }
}
/* //circle animate */
/* rotate animate */
@-webkit-keyframes rotate-odd-aniamte {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-moz-keyframes rotate-odd-aniamte {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@keyframes rotate-odd-aniamte {
  0% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(-90deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
@-webkit-keyframes rotate-even-aniamte {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@-moz-keyframes rotate-even-aniamte {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
@keyframes rotate-even-aniamte {
  0% {
    transform: rotate(-90deg);
  }
  50% {
    transform: rotate(90deg);
  }
  100% {
    transform: rotate(-90deg);
  }
}
/* //rotate animate */
/* process circle animate */
@-webkit-keyframes proccess-circle-animate {
  0% {
    box-shadow: 0 0 0 5px #75db8b;
  }
  100% {
    box-shadow: 0 0 0 25px #d0fad979;
  }
}
@-moz-keyframes proccess-circle-animate {
  0% {
    box-shadow: 0 0 0 5px #75db8b;
  }
  100% {
    box-shadow: 0 0 0 25px #d0fad979;
  }
}
@keyframes proccess-circle-animate {
  0% {
    box-shadow: 0 0 0 5px #75db8b;
  }
  100% {
    box-shadow: 0 0 0 25px #d0fad979;
  }
}
/* //process circle animate */
/* scroll top  animate */
@-webkit-keyframes scroll-top {
  49% {
    transform: translate(-20px, 20px);
  }
  50% {
    transform: translate(20px, -20px);
  }
}
@-moz-keyframes scroll-top {
  49% {
    transform: translate(-20px, 20px);
  }
  50% {
    transform: translate(20px, -20px);
  }
}
@keyframes scroll-top {
  49% {
    transform: translate(-20px, 20px);
  }
  50% {
    transform: translate(20px, -20px);
  }
}
/* //scroll top aniamte*/
/* //animation */
/* preloader */
.preloader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #fff;
  z-index: 10000000;
  /*clip-path: circle(1600px at 100% 20%);
  pointer-events: all;*/
  transform: translateY(0) scale(1);
  opacity: 1;
  visibility: visible;
}
.preloader .preloader-status {
  position: absolute;
  right: 0;
  left: 0;
  top: 25%;
  width: 50%;
  height: 50%;
  display: block;
  margin: 0 auto;
  background-image: url(../images/preloader.gif);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 1;
}

.loaded .preloader {
  opacity: 0;
  visibility: collapse;
  /*clip-path: circle(50px at 100% 0%);
  pointer-events:fill;*/
  transform: translateY(-100%) scale(0);
  border-radius: 100%;
  background-color: #273457;
  transition-delay: 0.5s;
}

/* //preloader */
.head {
  display: flex;
  margin-bottom: 2rem;
  color: #273457;
}
.head.text-center {
  justify-content: center;
}
.head h2 {
  font-size: 2.8rem;
}
.head h3 {
  font-size: 2.6rem;
  line-height: 3rem;
  padding-bottom: 1rem;
  /* border-bottom: 2px dotted #9cf0ae;*/
}
.head h3::before {
  content: "";
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 0.65rem;
  height: 0.65rem;
  border-radius: 50%;
  box-shadow: 0 0 0 5px #ccf7d5;
  background-color: #58B76C;
  transform: translateX(-7rem);
  background-color: #58B76C;
  animation: circle-animate 5s ease-in-out infinite forwards;
  z-index: 1;
}
.head h3::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 7rem;
  height: 2px;
  border-bottom: 2px dotted #a6e7b4;
}
.head.text-center h3::before, .head.text-center h3::after {
  right: 0;
  left: 0;
  margin: 0 auto;
}
.head.text-center h3::before {
  transform: translateX(4rem);
  animation: circle-animate-center 5s ease-in-out infinite forwards;
}

.sub-head {
  margin-bottom: 1.5rem;
}
.sub-head h4 {
  color: #273457;
}
.sub-head h5 {
  color: #8d8d8f;
}

/* tabs */
.tab ul {
  margin-bottom: 2.5rem;
}
.tab ul li .tabs-link {
  display: flex;
  align-items: center;
  background-color: #58B76C;
  font-size: 1.2rem;
  padding: 0.7rem 1.2rem;
  color: #fff;
  margin: 0 0.5rem;
  border: 4px solid #58B76C;
  overflow: hidden;
}
.tab ul li .tabs-link:hover, .tab ul li .tabs-link:active, .tab ul li .tabs-link:focus {
  background-color: transparent !important;
  color: #75db8b;
  border-color: #a6e7b4;
}
.tab ul li .tabs-link span:not(.text) {
  background-color: #273457;
}
.tab ul li.active-tabs a {
  background: #273457;
  color: #75db8b;
  border-color: #a6e7b4;
}
.tab ul li.active-tabs a span:not(.text) {
  background-color: #273457;
}
.tab .tab-content {
  padding-top: 1rem;
  overflow: hidden;
}
.tab .tab-content .tabs-item {
  display: none;
}
.tab .tab-content .tabs-item .accordion {
  padding: 0 1rem;
}
.tab .tab-content .tabs-item .card {
  margin-bottom: 3rem;
  border: unset;
  background-color: #fff;
  box-shadow: 0 5px 25px #e4e2e2;
}
.tab .tab-content .tabs-item .card .card-header {
  padding: 1rem;
  cursor: pointer;
  background-color: #f5f8f6;
  border-bottom: unset;
}
.tab .tab-content .tabs-item .card .card-header h4, .tab .tab-content .tabs-item .card .card-header .card-icon {
  font-size: 1.5rem;
  color: #fff;
  margin: auto 0;
}
.tab .tab-content .tabs-item .card .card-header h4 {
  color: #273457;
}
.tab .tab-content .tabs-item .card .card-header .card-icon {
  color: #58B76C;
  transform: rotate(180deg);
}
.tab .tab-content .tabs-item .card .card-header .card-icon.rotate {
  transform: rotate(0);
}
.tab .tab-content .tabs-item .card .card-body p {
  color: #535353;
  font-size: 1.3rem;
}
.tab .tab-content .tabs-item .card .card-body h5 {
  margin-bottom: 1rem;
}
.tab .tab-content .tabs-item .card .card-body ul {
  list-style: square;
  margin-right: 1rem;
}
.tab .tab-content .tabs-item .card .card-body p, .tab .tab-content .tabs-item .card .card-body ul li a {
  margin-right: 0;
}
.tab .tab-content .tabs-item .card p:hover, .tab .tab-content .tabs-item .card ul li a:hover {
  margin-right: 0.5rem;
}
.tab .tab-content .tabs-item:first-child {
  display: block;
}

/* //tabs */
/* header */
.navbar-light {
  position: relative;
  z-index: 1;
}
.navbar-light::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: transparent;
  z-index: -1;
}
.navbar-light .nav-toggler {
  display: none;
  cursor: pointer;
}
.navbar-light .nav-toggler {
  background-color: transparent;
  border-radius: 0.2rem;
  padding: 0;
}
.navbar-light .nav-toggler span {
  display: block;
  width: 2rem;
  height: 3px;
  background: #58B76C;
  margin: 5px 0;
}
.navbar-light .navbar {
  padding-right: 0;
  padding-left: 0;
}
.navbar-light .navbar .navbar-brand {
  width: 8.5rem;
}
.navbar-light .navbar .main-navbar {
  margin: 0 auto !important;
}
.navbar-light .navbar .sub-navbar {
  margin-right: auto;
}
.navbar-light .navbar .navbar-nav .nav-item {
  padding: 0 0.3rem;
}
.navbar-light .navbar .navbar-nav .nav-item .nav-link {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
  padding: 0.3rem 0.5rem;
  border-radius: 6px;
  color: #2f4686;
  overflow: hidden;
}
.navbar-light .navbar .navbar-nav .nav-item .nav-link:hover, .navbar-light .navbar .navbar-nav .nav-item .nav-link:active, .navbar-light .navbar .navbar-nav .nav-item .nav-link:focus, .navbar-light .navbar .navbar-nav .nav-item .nav-link.active {
  color: #75db8b;
}
.navbar-light .navbar .navbar-nav .nav-item .nav-link span:not(.text):not(.icon) {
  background-color: #2f4686;
}
.navbar-light .navbar .navbar-nav .nav-item .nav-link i {
  font-size: 1.1rem;
  color: #58B76C;
  padding: 0 0.3rem;
  display: flex;
  align-items: center;
  transform: scaleX(1);
}
.navbar-light .navbar .navbar-nav .nav-item .nav-link:hover i, .navbar-light .navbar .navbar-nav .nav-item .nav-link:active i, .navbar-light .navbar .navbar-nav .nav-item .nav-link:focus i {
  color: #fff;
}
.navbar-light .navbar .navbar-nav .nav-item .nav-link:hover i, .navbar-light .navbar .navbar-nav .nav-item .nav-link:active i, .navbar-light .navbar .navbar-nav .nav-item .nav-link:focus i {
  transform: scaleX(-1);
}
.navbar-light.sticky-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar-light.sticky-top.sticky-top::before {
  box-shadow: 0 5px 3px #00000027;
  background: #273457 !important;
  animation: sticky-top-aniamte 0.4s linear forwards;
}
.navbar-light.sticky-top .nav-toggler {
  background-color: #fff;
  padding: 0.2rem 0.4rem;
}
.navbar-light.sticky-top .navbar .navbar-brand {
  width: 6rem !important;
}
.navbar-light.sticky-top .navbar .navbar-brand img {
  content: url(../images/logo-white.png);
}
.navbar-light.sticky-top .navbar .navbar-nav .nav-item {
  padding: 0 0.3rem;
}
.navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
}
.navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link:hover, .navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link:active, .navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link:focus {
  color: #58B76C;
}
.navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link span:not(.text):not(.icon) {
  background-color: #fff;
}
.navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link:hover i, .navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link:active i, .navbar-light.sticky-top .navbar .navbar-nav .nav-item .nav-link:focus i {
  color: #273457;
}
.navbar-light.sticky-top .navbar .navbar-nav .nav-item.active .nav-link {
  color: #58B76C;
}
.navbar-light.navbar-light-colored.navbar-light-colored:before {
  background: #273457 !important;
}
.navbar-light.navbar-light-colored .nav-toggler {
  background-color: #fff;
  padding: 0.2rem 0.4rem;
}
.navbar-light.navbar-light-colored .navbar .navbar-brand {
  width: 7rem;
}
.navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item {
  padding: 0 0.3rem;
}
.navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link {
  color: #fff;
}
.navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link:hover, .navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link:active, .navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link:focus, .navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link.active {
  color: #58B76C;
}
.navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link span:not(.text):not(.icon) {
  background-color: #fff;
}
.navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link:hover i, .navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link:active i, .navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link:focus i, .navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link.active i {
  color: #273457;
}
.navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item .nav-link.active {
  background-color: #fff;
}
.navbar-light.navbar-light-colored .navbar .navbar-nav .nav-item.active .nav-link {
  color: #58B76C;
}
/* //header */
/*--buttons--*/
.buttons.d-flex .btn {
  margin: 0 0.5rem;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem auto;
  padding: 0.55rem 1.2rem !important;
  color: #fff !important;
  font-size: 19px;
  border-radius: 10px;
  line-height: 20px;
  text-align: center;
  cursor: pointer !important;
  background: transparent;
  border: unset !important;
  z-index: 1;
  width: 100%;
  max-width: max-content;
  min-width: min-content;
  white-space: unset;
  box-shadow: unset;
  outline: none !important;
  overflow: hidden;
}
.btn:hover, .btn:active, .btn:focus {
  box-shadow: 0 3px 5px #a6f8b7 !important;
}
/*--green btn--*/
.green-btn-color {
  background: #58B76C;
}
.green-btn-color:hover, .green-btn-color:active, .green-btn-color:focus, .green-btn-color span {
  background: #273457 !important;
}

/*--//green btn--*/
/*--blue btn--*/
.blue-btn-color {
  background: #273457;
}
.blue-btn-color:hover, .blue-btn-color:active, .blue-btn-color:focus, .blue-btn-color span {
  background: #58B76C !important;
}

/*--//blue btn--*/
/* form */
.row .col-md-12 {
  padding-left: 10px;
  padding-right: 10px;
}

/* form control */
label {
  font-size: 1.2rem;
  margin-bottom: 0.7rem;
}

.form-control {
  position: relative;
  overflow: hidden;
  width: 100% !important;
  padding: 0.375rem 1rem !important;
  font-size: 17px !important;
}

.form-icon .form-control {
  padding: 0.375rem 2.9rem 0.375rem 1rem !important;
}

.form-control,
.select2-container--default .select2-selection--single {
  background-color: #f8f8f8 !important;
  border-color: transparent !important;
  box-shadow: 0 0 0 0.25rem rgba(179, 179, 179, 0.03);
  outline: none !important;
  height: calc(2.2rem + 2.5px) !important;
}

.form-control:hover,
.form-control:active,
.form-control:focus,
.select2-container--default .select2-selection--single:hover,
.select2-container--default .select2-selection--single:active,
.select2-container--default .select2-selection--single:focus {
  background-color: #fff !important;
  box-shadow: 0 0 3px #a6f8b7 !important;
}

.form-control::placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container .select2-search--inline .select2-search__field::placeholder,
.custom-file-label {
  font-size: 1rem !important;
  color: #b3b3b3 !important;
}

.form-control::placeholder,
.select2-container .select2-search--inline .select2-search__field::placeholder {
  line-height: 30px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  line-height: 26px !important;
}

/* //form control */
/* select */
.select2-dropdown {
  padding: 0 !important;
  font-size: 17px !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-results__option {
  padding: 0.4rem 1rem;
  font-weight: 400;
  text-align: right !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  color: #273457 !important;
}

.select2-results__option,
.select2-container .select2-selection--single .select2-selection__rendered {
  color: #212531 !important;
}

.select2-results__option:last-child {
  border-bottom-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #2f4686;
  color: #fff !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  float: unset !important;
  text-align: right;
  font-size: 17px !important;
}

.select2-container {
  width: auto !important;
  display: block;
}

.select2-container--default .select2-selection--single {
  outline: none !important;
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-search--inline .select2-search__field {
  height: 100%;
  outline: unset !important;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0.375rem 1rem 0.4rem 1rem !important;
}

.form-icon .select2-container .select2-selection--single .select2-selection__rendered {
  padding: 0.375rem 2.9rem 0.4rem 1rem !important;
}

.select2-container .select2-search--inline .select2-search__field {
  padding: 0.5rem 1rem 0.15rem 1rem !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: unset !important;
  margin: 0 0.5rem;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b {
  position: unset;
  top: 0;
  left: 0;
  border-color: unset !important;
  border-style: unset;
  border-width: unset;
  margin-left: 0;
  margin-top: 0;
}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b3b3b3;
  transform: rotate(0);
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b::before {
  transform: rotate(180deg);
}

.select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field {
  border-color: #e9e9e9 !important;
  box-shadow: 0 0 3px #a6f8b7 !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border-radius: 20px;
  outline: none !important;
}

.select2-container--default .select2-results > .select2-results__options {
  direction: rtl;
}

.select2-container--default .select2-results__option[aria-selected=true] {
  background-color: #58B76C !important;
}

.select2-container .select2-search--inline {
  float: unset !important;
  outline: unset !important;
  height: 100%;
}

.select2-container .select2-search--inline .select2-search__field {
  margin-top: 0 !important;
  text-align: right;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
  display: none;
}

/* //select */
/* custom-file-label */
.custom-file-label.colored {
  font-size: 1rem !important;
  color: #212531 !important;
}

.custom-file-label {
  position: absolute !important;
  padding: 0.375rem 1rem;
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
  font-weight: unset;
  line-height: unset;
  z-index: 3;
  color: #b3b3b3;
}
.custom-file-label::after {
  height: 100% !important;
}
.custom-file-label::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 45px;
  height: 100%;
  padding: 0.2rem 0.5rem 0 0.5rem;
  line-height: 1.5;
  color: transparent !important;
  background: url(../images/upload-icon.png) no-repeat !important;
  background-size: 25px !important;
  background-position: center !important;
  background-color: transparent;
  border-left: unset !important;
  border-radius: 0 !important;
}

.custom-file-input:focus ~ .custom-file-label {
  box-shadow: 0 0 3px #a6f8b7 !important;
}

/*  //custom file */
/* map */
.form-map {
  width: auto;
  height: 400px;
  box-shadow: 0 0 0 0.35rem rgba(179, 179, 179, 0.05);
  margin-bottom: 1.7rem;
}
.form-map iframe {
  width: 100%;
  height: 100%;
}

/*//map */
/* //form */
/* hero */
.hero-sec {
  height: 800px;
}
.hero-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../images/vector-gray.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: scaleX(-1);
  z-index: -2;
}
.hero-sec .owl-carousel .owl-item:not(.active) .head h2 {
  opacity: 0.2;
}
.hero-sec .download-apps a:not(:last-child) {
  margin-left: 0.7rem;
}
.hero-sec .download-apps a img {
  width: 13rem;
}
.hero-sec .overlay-shape {
  position: absolute;
  top: -25px;
  left: -95px;
  width: 60%;
  height: 1050px;
  background: url(../images/mobile-mockup.png);
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
  animation: vert-horz-animate 3s linear infinite forwards;
  z-index: -1;
}

/* //hero */
/* about */
.about-sec .content .paragh p {
  width: 90%;
}
.about-sec .content ul {
  /* &:last-child {
       li:nth-child(odd){
        a:hover::before{

            background-color:var.$maindarkbluecolor;

          }
          a:hover{

            border-color:var.$maingreencolor;

          }
   }
   }

   &:last-child {
       li:nth-child(even){
    a:hover::before{

        background-color:var.$maingreencolor;

      }
      a:hover{

        border-color:var.$maindarkbluecolor;

      }
    }
   }*/
}
.about-sec .content ul li a {
  display: flex;
  align-items: flex-start;
  font-size: 1.25rem;
  color: #212531;
  padding: 1rem;
  margin: 1.2rem 0 0 1.2rem;
  background-color: #fff;
  box-shadow: 0 2px 30px #e9e9e9;
  border-radius: 0.7rem;
  height: 6rem;
  border-right: 4px solid #212531;
  overflow: hidden;
}
.about-sec .content ul li a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background-color: #fff;
  transform: translateX(100%);
  z-index: -1;
}
.about-sec .content ul li a:hover::before {
  transform: translateX(0) !important;
}
.about-sec .content ul li a i {
  color: #58B76C;
  margin-left: 0.5rem;
}
.about-sec .content ul li a:hover {
  color: #fff !important;
  box-shadow: 0 5px 50px #6c757dad !important;
}
.about-sec .content ul li a:hover i {
  margin-left: 0.7rem;
  color: #fff;
}
.about-sec .content ul li:nth-child(odd) a:hover::before {
  background-color: #58B76C;
}
.about-sec .content ul li:nth-child(odd) a:hover {
  border-color: #273457;
}
.about-sec .content ul li:nth-child(even) a:hover::before {
  background-color: #273457;
}
.about-sec .content ul li:nth-child(even) a:hover {
  border-color: #58B76C;
}

/* //about */
/* services */
.services-sec .content::after, .services-sec::before, .services-sec::after {
  background: url(../images/global-vector.png);
}

.services-sec {
  background: #273457;
  overflow: hidden;
}
.services-sec::before, .services-sec::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-size: contain;
  background-position: bottom;
  background-repeat: repeat;
  z-index: -1;
  transform: scaleY(-1);
}
.services-sec::after {
  background-size: contain;
  background-position: inherit;
  background-repeat: repeat;
}
.services-sec .head h3::before {
  box-shadow: 0 0 0 5px #aafdbb;
  background-color: #6edc85;
}
.services-sec .head h3::after {
  border-color: 2px dotted #a9faba;
}
.services-sec .col-lg-4 {
  margin-bottom: 2rem;
}
.services-sec .content {
  background-color: #fff;
  box-shadow: 0 0 50px #182341, 0 0 25px #e9e9e9 inset;
  border-radius: 0.7rem;
  padding: 2rem;
  height: 100%;
  overflow: hidden;
  transform: translateY(0);
}
.services-sec .content:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 5px #ffffff62;
  /*  overflow: unset;*/
}
.services-sec .content::before, .services-sec .content::after {
  content: "";
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0.9rem;
  z-index: -1;
}
.services-sec .content::before {
  position: absolute;
  width: 100%;
  height: 10px;
  display: block;
  margin: 0 auto;
  text-align: center;
  background: linear-gradient(to right, #58f87b, #33683e, #58f87b);
}
.services-sec .content::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-size: 650px;
  background-position: inherit;
  background-repeat: repeat;
  z-index: -2;
}
.services-sec .content:hover::before, .services-sec .content:hover::after {
  border-radius: 0.3rem;
}
.services-sec .content:hover::before {
  height: 100%;
  background: linear-gradient(to right, #58f87b94, #58b76ce0, #1d8635);
}
.services-sec .content:hover::after {
  top: 0;
  bottom: unset;
  background: url(../images/services-img.jpg);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.services-sec .content .icon {
  overflow: hidden;
  padding: 1.5rem 0 0;
}
.services-sec .content .icon a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.services-sec .content .icon a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -15px;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../images/green-shape-vector.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 1;
  visibility: visible;
  z-index: -1;
}
.services-sec .content .icon a i {
  font-size: 5rem;
  color: #273457;
  line-height: 0;
}
.services-sec .content:hover .icon a::before {
  opacity: 0;
  visibility: collapse;
}
.services-sec .content:hover .icon a i {
  color: #fff;
}
.services-sec .content:hover h4, .services-sec .content:hover p {
  color: #fff;
}
.services-sec .col-lg-4:nth-child(odd) .content a::before {
  animation: rotate-odd-aniamte 7s ease-in infinite;
  transition-delay: 0.5s;
}
.services-sec .col-lg-4:nth-child(even) .content a::before {
  animation: rotate-even-aniamte 7s ease-out infinite;
  transition-delay: 0.7s;
}

/* //services */
/* account steps */
.account-steps-sec .row::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: -60px;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../images/vector-dots.png);
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.account-steps-sec .content .svg-icon svg {
  width: 7rem;
}
.account-steps-sec .content:hover .svg-icon svg {
  width: 8rem;
}
.account-steps-sec .content:hover h4 {
  color: #58B76C;
}
.account-steps-sec .col-lg-4:first-child .content,
.account-steps-sec .col-lg-4:last-child .content {
  margin-top: 7rem !important;
}

/* //account steps */
/* work process */
.work-process-sec::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: url(../images/vector-dark-blue.png);
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  z-index: -1;
}
.work-process-sec .content ul li::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 1rem;
  width: 0.65rem;
  height: 100%;
  background-color: #f5f8f6;
  border: 0.2rem dotted #a6e7b4;
  z-index: -2;
}
.work-process-sec .content ul li:last-child::before {
  display: none;
}
.work-process-sec .content ul li a {
  position: relative;
  display: inline-block;
  font-size: 1.3rem;
  margin-bottom: 1.5rem;
}
.work-process-sec .content ul li a span {
  display: flex;
}
.work-process-sec .content ul li a .count {
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background-color: #273457;
  border: 6px solid #a6e7b4;
  box-shadow: 0 0 0 5px #75db8b;
  color: #fff;
  z-index: -1;
}
.work-process-sec .content ul li a:hover .count {
  animation: proccess-circle-animate 1s ease-in-out infinite;
}
.work-process-sec .content ul li a .sub-head {
  flex-flow: column;
  margin-right: 4rem;
}
.work-process-sec .content ul li a .sub-head h4 {
  margin-bottom: 0.5rem;
}
.work-process-sec .content ul li a:hover .sub-head {
  margin-right: 4.5rem;
}
.work-process-sec .col-lg-7 {
  margin-right: auto;
}
.work-process-sec .image {
  animation: vert-horz-animate 3s linear infinite forwards;
}

/* //work process */
/* common questions */
/* //common questions */
/* contact us */
.contact-us-sec {
  background-color: #f5f8f6;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.contact-us-sec::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background: url(../images/map-vector.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.contact-us-sec .content .col-lg-5 {
  margin-right: auto;
}
.contact-us-sec .content .contact-list ul li a {
  display: flex;
  font-size: 1.4rem;
  text-align: right;
  color: #212531;
  padding: 0;
}
.contact-us-sec .content .contact-list ul li a span strong {
  display: block;
  color: #58B76C;
}
.contact-us-sec .content .contact-list ul li a .icon {
  font-size: 2.5rem;
  color: #273457;
}
.contact-us-sec .content .contact-list ul li a .text {
  margin-right: 1rem;
  transform: scale(1);
}
.contact-us-sec .content .contact-list ul li a:hover .text {
  transform: scale(1.1);
}
.contact-us-sec .content .social-list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0 0.5rem;
  background-color: #fff;
  border: 0.2rem dotted #58B76C;
  color: #273457;
  box-shadow: 0;
  overflow: hidden;
  transform: translateY(0);
}
.contact-us-sec .content .social-list ul li a:hover, .contact-us-sec .content .social-list ul li a:active, .contact-us-sec .content .social-list ul li a:focus {
  background-color: #58B76C;
  border-color: #273457;
  color: #fff;
  box-shadow: 0 0 25px #75db8b;
  transform: translateY(-5px);
}
.contact-us-sec .content .social-list ul li a span:not(.icon) {
  background-color: #58B76C;
}
.contact-us-sec .content .social-list ul li a i {
  height: 100%;
  display: flex;
  align-items: center;
}

/* //contact us */
/* subscribe */
.subscribe-body {
  overflow-x: hidden !important;
}

.subscribe-sec:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: url(../images/map-vector.png);
  background-size: contain;
  background-position: center;
  background-repeat: repeat;
  transform: scaleX(-1);
  opacity: 0.7;
  z-index: -1;
}
.subscribe-sec .content {
  padding: 3.5rem 0;
}

/* //subscribe */
/* hero markets */
.hero-markets-sec .overlay-shape {
  position: absolute;
  top: 5rem;
  left: 0 !important;
  width: 50% !important;
  height: 100% !important;
  background: url(../images/hero-markets-vector.svg) !important;
  background-size: contain !important;
  background-position: top !important;
  background-repeat: no-repeat !important;
}

/* //hero markets */
/* markets work */
.markets-work-sec .col-lg-6 {
  padding-bottom: 2rem;
}
.markets-work-sec .content .icon {
  margin: 0 auto;
  text-align: center;
}
.markets-work-sec .content .icon img {
  width: 5rem;
  transform: scaleX(1);
}
.markets-work-sec .content:hover .icon img {
  transform: scaleX(-1);
  width: 6rem;
}
.markets-work-sec .content:hover h4 {
  color: #58B76C;
}

/* //markets work */
/* markets developers */
.markets-developers-sec .tab .tab-content .tabs-item .card {
  background-color: #f5f8f6;
  box-shadow: 0 5px 7px rgba(179, 179, 179, 0.6);
}
.markets-developers-sec .tab .tab-content .tabs-item .card .card-body {
  font-size: 1.2rem;
  direction: ltr;
  text-align: left;
}
.markets-developers-sec .tab .tab-content .tabs-item .card .card-body h5 {
  color: #273457;
}
.markets-developers-sec .tab .tab-content .tabs-item .card .card-body ul {
  list-style: none !important;
  padding: 0;
  margin: 0;
}
.markets-developers-sec .tab .tab-content .tabs-item .card .card-body ul li a {
  margin-bottom: 0.3rem;
}
.markets-developers-sec .tab .tab-content .tabs-item .card .card-body span {
  color: #58B76C;
}

/* //markets developers */
/* footer */
footer {
  padding: 4rem 0;
  background-color: #273457;
  overflow: hidden;
}
footer::before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: -7rem;
  right: 0;
  left: 0;
  background: url(../images/global-vector.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  transform: scaleY(-1);
}
footer .col-lg-8 {
  margin: 0 auto;
}
footer .navbar-brand img {
  width: 10rem;
}
footer h4 {
  color: #58B76C !important;
}
footer .download-apps a {
  margin: 0 0.5rem;
}

/* //footer */
/* copy right */
.copy-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
  background-color: #58B76C;
}
.copy-right p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.copy-right p a {
  display: inline-block;
  color: #314375;
  text-decoration: underline !important;
  transform: scale(1);
}
.copy-right p:hover a {
  color: #ccf7d5;
  transform: scale(1.1);
}

/* //copy right */
/* scroll */
/* scroll to top */
.auto-scroll-to-top {
  cursor: pointer;
  width: 2.7rem;
  height: 2.7rem;
  position: fixed;
  bottom: -100%;
  left: 2.3rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  z-index: 700;
}
.auto-scroll-to-top, .auto-scroll-to-top.non-hover {
  background-color: #58B76C;
  color: #fff !important;
  border: 2px solid #58B76C;
  box-shadow: 0 0 0 0.25rem #a6f8b7;
}
.auto-scroll-to-top:hover {
  background-color: #273457;
  box-shadow: 0 0 0 0.2rem #75db8b;
  border-color: #273457;
}
.auto-scroll-to-top:hover i {
  animation: scroll-top 1.5s ease-in-out infinite forwards;
}

.visible {
  bottom: 4.37rem;
}

/* //scroll to top */
/* scroll design */
/* Chrome && Edge && Safari */
body::-webkit-scrollbar,
.modal-open .modal::-webkit-scrollbar,
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar {
  width: 0.43rem !important;
}

body::-webkit-scrollbar-track,
.modal-open .modal::-webkit-scrollbar-track,
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background-color: #fff;
  border-radius: 1.25rem !important;
  box-shadow: transparent;
}

body::-webkit-scrollbar-track {
  background-color: #fff;
}

.modal-open .modal::-webkit-scrollbar-track,
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb,
.modal-open .modal::-webkit-scrollbar-thumb,
.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  border-radius: 0.625rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

body::-webkit-scrollbar-thumb {
  background-color: #58B76C !important;
}

.modal-open .modal::-webkit-scrollbar-thumb:hover {
  background-color: #e9e9e9 !important;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #273457 !important;
}

.modal-open .modal::-webkit-scrollbar-thumb:hover {
  background-color: #f8f8f8 !important;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb {
  background-color: #efefef !important;
}

.select2-container--default .select2-results > .select2-results__options::-webkit-scrollbar-thumb:hover {
  background-color: #d7d7d7 !important;
}

/* //Chrome && Edge && Safari */
/* firefox */
:root,
.modal-open .modal {
  scrollbar-color: #58B76C #fff;
  scrollbar-width: thin !important;
}

.select2-container--default .select2-results > .select2-results__options {
  scrollbar-color: #273457 transparent;
  scrollbar-width: thin !important;
}

/* //firefox */
/* //scroll design */
/* //scroll */
/*--media query--*/
@media screen and (max-width: 1340px) and (min-width: 1201px) {
  /* header */
  .navbar-light .navbar .navbar-brand {
    width: 5.5rem;
  }
  .navbar-light .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.25rem;
  }

  /* //header */
  /* hero */
  .hero-sec .overlay-shape {
    width: 55%;
    height: 900px;
  }

  /* //hero */
}
@media screen and (max-width: 1200px) and (min-width: 1121px) {
  /* header */
  .navbar-light .navbar .navbar-brand {
    width: 4.5rem;
  }
  .navbar-light .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1.1rem;
  }

  /* //header */
  /* hero */
  .hero-sec .overlay-shape {
    width: 55%;
    height: 800px;
    left: -50px;
  }

  /* //hero */
  /* work process */
  .work-process-sec::before {
    left: -100px;
  }

  /* //work process */
}
@media screen and (max-width: 1120px) {
  /* header */
  .navbar-light .navbar .navbar-brand {
    width: 5rem;
  }
  .navbar-light .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
  }

  /* //header */
  /* hero */
  .hero-sec .overlay-shape {
    width: 60%;
    height: 800px;
  }

  /* //hero */
  .work-process-sec::before {
    left: -250px;
  }
}
@media screen and (max-width: 1024px) {
  /* header */
  .navbar-light .navbar .navbar-brand {
    width: 5rem;
  }
  .navbar-light .navbar .navbar-nav .nav-item .nav-link {
    padding: 0.3rem 0.3rem;
  }

  /* //header */
  /* hero */
  .hero-sec .overlay-shape {
    width: 55%;
    height: 700px;
  }

  /* //hero */
  /* worK process */
  .work-process-sec::before {
    left: -250px;
  }

  /* //work process */
}
@media screen and (max-width: 991px) {
  /* form */
  .row .col-md-12 {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* form control*/
  .form-groups .form-group:first-of-type {
    margin-bottom: 1.3rem;
  }

  /* //form control*/
  /* //form */
  .account-steps-sec .col-md-12,
.work-process-sec .col-md-12 {
    margin-bottom: 2rem;
  }

  /* header */
  .navbar-light {
    position: absolute;
    width: 100%;
    z-index: 1000;
  }
  .navbar-light .navbar .navbar-brand {
    width: 8.5rem;
  }
  .navbar-light .nav-toggler {
    display: block;
    z-index: 100;
  }
  .navbar-light .nav-toggler.toggle span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .navbar-light .nav-toggler.toggle span:nth-child(2) {
    width: 0;
    margin: 0;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .navbar-light .nav-toggler.toggle span:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .navbar-light .navbar-collapse {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    overflow-y: auto;
    overflow-x: hidden;
    clip-path: circle(50px at 0% -20%);
    pointer-events: none;
    -webkit-transition: all 0.6s ease-in-out;
    -moz-transition: all 0.6s ease-in-out;
    -o-transition: all 0.6s ease-in-out;
    -ms-transition: all 0.6s ease-in-out;
    transition: all 0.6s ease-in-out;
  }
  .navbar-light .navbar-collapse.open {
    clip-path: circle(1300px at 0% -10%);
    pointer-events: all;
  }
  .navbar-light.navbar-light-colored .navbar-collapse {
    background: #273457 !important;
  }
  .navbar-light .navbar .sub-navbar {
    margin-right: auto !important;
    margin-left: auto !important;
  }
  .navbar-light .navbar .navbar-nav .nav-item {
    opacity: 0;
    transform: translateX(50%);
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    color: #2f4686;
  }
  .navbar-light .navbar .navbar-nav .nav-item .nav-link {
    justify-content: center;
  }
  .navbar-light .navbar .navbar-nav .nav-item.fade {
    opacity: 1;
    transform: translateX(0);
  }
  .navbar-light.sticky-top .navbar-collapse {
    background: #273457;
  }

  /* //header */
  /* hero */
  .hero-sec {
    height: 100%;
    padding-top: 12rem;
  }
  .hero-sec::before {
    top: 0;
    background: url(../images/vector-gray-resp.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .hero-sec .overlay-shape {
    position: relative;
    top: 0;
    left: 0;
    margin: 2rem auto 0;
    width: 90%;
    height: 1000px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  /* //hero */
  /* hero markets */
  .hero-markets-sec .overlay-shape {
    width: 100% !important;
    height: 600px !important;
    margin-top: 0 !important;
  }

  /* //hero markets */
  /* about */
  .about-sec .content .box-list {
    flex-flow: column;
  }
  .about-sec .content ul li a {
    height: auto;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  /* //about */
  /* account steps */
  .account-steps-sec .row::before {
    display: none;
  }
  .account-steps-sec .col-lg-4:first-child .content,
.account-steps-sec .col-lg-4:last-child .content {
    margin-top: 0 !important;
  }

  /* //account steps */
  /* work process */
  .work-process-sec::before {
    top: 55%;
    left: 0;
    background: url(../images/vector-dark-blue-resp.png);
    background-size: 900px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
  /* subscribe */
  .subscribe-sec .content {
    margin-top: 5rem;
  }

  /* //subscribe */
}
@media screen and (max-width: 880px) {
  /* hero */
  .hero-sec .overlay-shape {
    width: 100%;
    height: 1050px;
  }

  /* //hero */
}
@media screen and (max-width: 768px) {
  /* preloader */
  .preloader .preloader-status {
    top: 0;
    width: 100%;
    height: 100%;
  }

  /* //preloader */
  /* tabs */
  .tab ul {
    flex-flow: column;
  }
  .tab ul li:not(:last-child) a {
    margin-bottom: 1.5rem;
  }
  .tab ul li a {
    margin-right: 0 !important;
    margin-left: 0 !important;
  }

  /* //tabs */
  /* hero */
  .hero-sec .overlay-shape {
    width: 100%;
    height: 800px;
  }

  /* //hero */
  /* services */
  .services-sec::before, .services-sec::after {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: -1;
    transform: scaleY(-1);
  }

  /* //services */
  /* work process */
  .work-process-sec::before {
    top: 60%;
    background-size: 800px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process *


    /* conatct us */
  .contact-us-sec .content .contact-list ul {
    flex-flow: column;
  }
  .contact-us-sec .content .contact-list ul li:not(:last-child) a {
    margin-bottom: 1rem;
  }
  .contact-us-sec .content .social-list ul {
    justify-content: flex-start !important;
  }

  /* //conatct us */
  /* markets work */
  .markets-work-sec .content .icon {
    margin-bottom: 1.2rem;
  }
  .markets-work-sec .content h4,
.markets-work-sec .content p {
    text-align: center;
  }

  /* //markets work */
}
@media screen and (max-width: 575px) {
  .hero-sec,
.about-sec,
.services-sec,
.account-steps-sec,
.work-process-sec,
.contact-us-sec,
.subscribe-sec,
.navbar-light {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  /* hero */
  .hero-sec .overlay-shape {
    width: 100%;
    height: 700px;
  }

  /* //hero */
  /* hero markets */
  .hero-markets-sec .overlay-shape {
    height: 350px !important;
  }

  /* //hero markets */
  /* work process */
  .work-process-sec::before {
    top: 62% !important;
    background: url(../images/vector-dark-blue-resp.png);
    background-size: 700px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 500px) {
  /* hero */
  .hero-sec .overlay-shape {
    height: 600px;
  }

  /* //hero */
  /* work process */
  .work-process-sec::before {
    top: 65% !important;
    background: url(../images/vector-dark-blue-resp.png);
    background-size: 700px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 425px) {
  /* hero */
  .hero-sec .overlay-shape {
    height: 550px;
  }
  .hero-sec .download-apps {
    flex-flow: column;
  }
  .hero-sec .download-apps a:not(:last-child) {
    margin-bottom: 1rem;
  }

  /* //hero */
  /* work process */
  .work-process-sec::before {
    top: 70% !important;
    background: url(../images/vector-dark-blue-resp.png);
    background-size: 550px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 375px) {
  /* hero */
  .hero-sec .overlay-shape {
    height: 500px;
  }

  /* //hero */
  /* work process */
  .work-process-sec::before {
    top: 75% !important;
    background: url(../images/vector-dark-blue-resp.png);
    background-size: 550px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
@media screen and (max-width: 320px) {
  /* hero */
  .hero-sec .overlay-shape {
    height: 400px;
  }

  /* //hero */
  /* work process */
  .work-process-sec::before {
    top: 80% !important;
    background: url(../images/vector-dark-blue-resp.png);
    background-size: 400px;
    background-position: unset;
    background-repeat: no-repeat;
  }

  /* //work process */
}
/*--//media query--*/
/* helpers */
/* //helpers */
/* components & layouts & pages */
/*@use 'sass/components/modal';*/
/* //components & layouts & pages */
body {
  direction: rtl;
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
