@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';


/*--buttons--*/

.buttons.d-flex{

    .btn{

        margin:0 0.5rem

    }
}
.btn{

    display: flex;
    justify-content: center;
    align-items: center;
    @extend %prelative;
    margin:0.5rem auto;
    padding: 0.55rem 1.2rem !important;
    color: var.$whitecolor !important;
    font-size:19px;
    border-radius:10px;
    line-height: 20px;
    text-align: center;
    cursor: pointer !important;
    background: transparent;
    border:unset !important;
    z-index: 1;
    width:100%;
    max-width: max-content;
    min-width: min-content;
    white-space: unset;
    box-shadow:unset;
    outline: none !important;
    overflow: hidden;

    span{

        @extend %span-effect;
      
    }

    &:hover,
    &:active,
    &:focus{
    
    
     box-shadow: 0 3px 5px var.$sublightgreen !important;
 
    }

    &:hover span,
    &:active span,
    &:focus span{

        @extend   %span-effect-hovered;
        
    }


}
/*--green btn--*/

.green-btn-color{
   
    background:var.$maingreencolor;

    &:hover,
    &:active,
    &:focus,
    & span{
 
     background:var.$maindarkbluecolor !important;
 
    }  
}

/*--//green btn--*/

/*--blue btn--*/

.blue-btn-color{
   
    background:var.$maindarkbluecolor;

    &:hover,
    &:active,
    &:focus,
    & span{
 
     background:var.$maingreencolor !important;
 
    }
   
}
 

  

/*--//blue btn--*/

