@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';


/* form */
.row {

    .col-md-12{

        padding-left:10px;
        padding-right: 10px
    }
}
/* form control */

form-group{

    @extend %prelative;
}

label{

    font-size:1.2rem;
    margin-bottom: 0.7rem;
    
}
.form-control{

    position: relative;
    overflow: hidden;
    width:100% !important;
    padding: 0.375rem 1rem !important;
    font-size:17px !important;
     
}
.form-icon {
    
    .form-control{

       padding: 0.375rem 2.9rem 0.375rem 1rem !important;

    }
}
.form-control,
.select2-container--default .select2-selection--single{

    background-color:var.$llightgraycolor !important;
    border-color:transparent !important;
    box-shadow: 0 0 0 0.25rem rgba($color:var.$lightgraycolor, $alpha: 0.03);
    outline:none !important;
    height: calc(2.2rem + 2.5px) !important;
    @extend  %border-radius-m;
    @extend %transition;
}
.form-control:hover,
.form-control:active,
.form-control:focus,
.select2-container--default .select2-selection--single:hover,
.select2-container--default .select2-selection--single:active,
.select2-container--default .select2-selection--single:focus{

    background-color:var.$whitecolor !important;
    box-shadow: 0 0 3px var.$sublightgreen !important;
}

.form-control::placeholder,
.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container .select2-search--inline .select2-search__field::placeholder,
.custom-file-label{

    font-size:1rem !important;
    color:var.$lightgraycolor !important;

}
.form-control::placeholder,
.select2-container .select2-search--inline .select2-search__field::placeholder{

    line-height: 30px !important;

}
.select2-container--default .select2-selection--single .select2-selection__placeholder{

    line-height:26px !important;
}

/* //form control */
/* select */

.select2-dropdown{

    padding:0 !important;
    font-size:17px !important;
    @extend  %border-radius-m;

}
.select2-container--default .select2-search--dropdown .select2-search__field,
.select2-results__option{

    padding: 0.4rem 1rem;
    font-weight: 400;
    text-align: var.$right !important;
    
}
.select2-container--default .select2-search--dropdown .select2-search__field{

    color:var.$maindarkbluecolor !important;

}
.select2-results__option,
.select2-container .select2-selection--single .select2-selection__rendered {
   
    
    color:var.$mainblackcolor !important;
   
}
.select2-results__option:last-child{

    border-bottom-#{var.$left}-radius: 0.4rem;
    border-bottom-#{var.$right}-radius: 0.4rem;

}

.select2-container--default .select2-results__option--highlighted[aria-selected]{

    background-color:var.$mainldarkbluecolor;
    color:var.$whitecolor !important;


}
.select2-container .select2-selection--single .select2-selection__rendered{
   
    float: unset !important;
    text-align: var.$right;
    font-size:17px !important;
}
.select2-container {
 
    width: auto !important;
    display: block;
}

.select2-container--default .select2-selection--single{

  
     outline: none !important;
   
}

.select2-container .select2-selection--single .select2-selection__rendered,
.select2-container .select2-search--inline .select2-search__field{
   
    height: 100%;
    outline: unset !important;
   
   }
   .select2-container .select2-selection--single .select2-selection__rendered{

    padding: 0.375rem 1rem .4rem 1rem !important;

   }
   .form-icon .select2-container .select2-selection--single .select2-selection__rendered{

    padding: 0.375rem 2.9rem 0.4rem 1rem !important;

   }

   .select2-container .select2-search--inline .select2-search__field{

    padding: .5rem 1rem 0.15rem 1rem !important;

   }
   .select2-container--default .select2-selection--single .select2-selection__arrow {
   
    position: absolute;
    top: 0;
    bottom: 0;
    #{var.$left}: 0;
    height: unset !important;
    margin: 0 0.5rem;

   & b{


        position: unset;
        top:0;
        #{var.$left}: 0;
        border-color:unset !important;
        border-style: unset; 
        border-width:unset;
        margin-#{var.$left}:0; 
        margin-top:0;
        @extend %transition;

       }

      & b:before{

        content: "\f107";
        font-family: "Font Awesome 5 Free"; 
        font-weight: 900;
        width:100%;
        height: 100%;
        position: absolute;
        top: 0;
        #{var.$left}:0;
        display: flex;
        justify-content: center;
        align-items: center;
        color:var.$lightgraycolor;
        transform: rotate(0);
        @extend %transition;
       
       }
       
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b::before{
       
    transform: rotate(180deg);

}

   .select2-dropdown,
   .select2-container--default .select2-search--dropdown .select2-search__field{

   
     border-color:var.$lllightgraycolor !important;  
     box-shadow: 0 0 3px var.$sublightgreen !important;

   }
   
   .select2-container--default .select2-search--dropdown .select2-search__field{

      border-radius:20px;
      outline:none !important;
   }

   .select2-container--default .select2-results>.select2-results__options{

      direction: rtl;

    }
   .select2-container--default .select2-results__option[aria-selected=true]{

      background-color:var.$maingreencolor !important;

    }

    .select2-container .select2-search--inline{

        float:unset !important;
        outline: unset !important;
        height: 100%;

    }
    .select2-container .select2-search--inline .select2-search__field {

        margin-top: 0 !important;
        text-align: var.$right;

    }
    .select2-container--default .select2-selection--single .select2-selection__clear {
       
        display: none;
    }


/* //select */


/* custom-file-label */

.custom-file-label.colored {
    font-size:1rem !important;
    color:var.$mainblackcolor !important;
}
.custom-file-label{

    position: absolute !important;
    padding: 0.375rem 1rem;
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;
    font-weight:unset;
    line-height:unset;
    z-index: 3;
    color:var.$lightgraycolor;

    &::after{
   
        height:100% !important;
    
    }
    
    
    &::after {
    
        content: "";
        position: absolute;
        top: 0;
        #{var.$right}: 0;
        bottom: 0;
        display: block;
        width:45px;
        height:100%;
        padding: 0.2rem 0.5rem 0 0.5rem;
        line-height: 1.5;
        color:transparent !important;
        background: url(../images/upload-icon.png) no-repeat !important;
        background-size:25px  !important;
        background-position: center !important;
        background-color:transparent;
        border-#{var.$left}:unset !important;
        border-radius:0 !important;
    
    }
    

}
.custom-file-input:focus~.custom-file-label {
    
    box-shadow: 0 0 3px var.$sublightgreen !important;

}


/*  //custom file */

/* map */
.form-map{

    width: auto;
    height: 400px;
    box-shadow: 0 0 0 0.35rem rgba($color:var.$lightgraycolor, $alpha: 0.05);
    margin-bottom: 1.7rem;
    @extend  %border-radius-m;

    iframe{

    width: 100%;
    height: 100%;
    @extend  %border-radius-m;
    
   }
}


/*//map */

/* //form */