@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';


/* modal */

.modal-backdrop{

    background:var.$maindarkbluecolor !important;
    opacity: 0.85 !important;
    
}
.modal {


    padding-#{var.$right}: 0 !important;
    padding-#{var.$left}: 0 !important;


   .modal-content {

        border: none !important;
        border-radius: 0.5rem !important;
        box-shadow: 0 0 7px #d1fff177 !important;
    }
    
 .modal-header{

    justify-content: flex-end !important;
    @extend %prelative;
    border:none !important;
    padding:0.3rem 1rem 0;
 
 .close{

    text-align: center;
    position: absolute;
    top: -6px;
    #{var.$left}: -6px;
    background-color: var.$maingreencolor;
    border: 2px solid var.$maingreencolor;
    width: 2rem;
    height: 2rem;
    border-radius: 100%;
    color:var.$whitecolor;
    opacity: 1 !important;
    font-weight: 500 !important;
    outline: unset !important;
    padding: 0 !important;
    line-height: 0.4 !important;
    margin: 0 !important;
    @extend %transitionmeduimtime;
    
    }
    
   .close:hover,
   .close:active,
   .close:focus{
    
   
      box-shadow: 0 0 1rem var.$lightlightgreen;
    
    }
    .close{ 

        span{
    
          display: block;
          font-size:2rem;
          font-weight:700;
          transform:rotate(0);
          @extend %transitioncubicbezier;
       }


     &:hover span,
     &:active span,
     &:focus span{
    
        animation: rotate-icon 3s linear infinite forwards;
    }

    }
}
 
 .modal-body{

    padding: 0.5rem 1rem 1.5rem !important;
  }

}


/* //modal */

