@use '../abstracts/variables' as var;
@use '../layouts/global';


 /* scroll */
  /* scroll to top */
  
  .auto-scroll-to-top {

    cursor: pointer;
    width:2.7rem;
    height:2.7rem;
    position: fixed;
    bottom:-100%;
    #{var.$left}:2.3rem;
    font-size:1rem;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 700;
    @extend %transition;

    &,
    &.non-hover{
  
      background-color:var.$maingreencolor;
      color:var.$whitecolor !important;
      border:2px solid #{var.$maingreencolor};
      box-shadow: 0 0 0 0.25rem #{var.$sublightgreen};

    }
    &:hover{
    
      background-color: var.$maindarkbluecolor;
      box-shadow: 0 0 0 0.2rem #{var.$subgreencolor};
      border-color: var.$maindarkbluecolor;
 
     }

  
    &:hover{
       i{
        
        animation:scroll-top 1.5s ease-in-out infinite forwards;
    
    }
  }

 }
   
  .visible {
    
    bottom:4.37rem;
     
  }
    
    /* //scroll to top */
    
  
/* scroll design */
/* Chrome && Edge && Safari */

body::-webkit-scrollbar,
.modal-open .modal::-webkit-scrollbar,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar{

   width:0.43rem !important;

}
body::-webkit-scrollbar-track,
.modal-open .modal::-webkit-scrollbar-track,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track{

   background-color:var.$whitecolor;
   border-radius:1.25rem !important;
   box-shadow:transparent;

}

body::-webkit-scrollbar-track{

  background-color:var.$whitecolor;

}
.modal-open .modal::-webkit-scrollbar-track,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-track{

   background-color:transparent;

}


body::-webkit-scrollbar-thumb,
.modal-open .modal::-webkit-scrollbar-thumb,
.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb{

    border-radius:0.625rem !important;
    -webkit-transition:all 0.3s ease-in-out;
    -moz-transition:all 0.3s ease-in-out;
    -ms-transition:all 0.3s ease-in-out;
    -o-transition:all 0.3s ease-in-out;
    transition:all 0.3s ease-in-out;    

}
body::-webkit-scrollbar-thumb{

    background-color:var.$maingreencolor !important;

}
.modal-open .modal::-webkit-scrollbar-thumb:hover{

  background-color:var.$lllightgraycolor !important;

}
body::-webkit-scrollbar-thumb:hover{

  background-color:var.$maindarkbluecolor !important;

}

.modal-open .modal::-webkit-scrollbar-thumb:hover{

   background-color:var.$llightgraycolor !important;

}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb{
    
  background-color: #efefef !important;
  
}

.select2-container--default .select2-results>.select2-results__options::-webkit-scrollbar-thumb:hover{
    
  background-color: #d7d7d7 !important;
  
}



/* //Chrome && Edge && Safari */

/* firefox */

:root,
.modal-open .modal{
  
    scrollbar-color: var.$maingreencolor var.$whitecolor;
    scrollbar-width: thin !important;
   
  }

.select2-container--default .select2-results>.select2-results__options{
    
  scrollbar-color: #273457 transparent;
  scrollbar-width: thin !important;
  
}
/* //firefox */

/* //scroll design */
/* //scroll */