@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';


/* tabs */

.tab{

    @extend %m-t;
 
   ul{
 
     margin-bottom:2.5rem;
     li{
 
       .tabs-link{
 
         @extend %prelative;
         display: flex;
         align-items: center;
         background-color:var.$maingreencolor;
         @extend  %border-radius;
         font-size: 1.2rem;
         padding: 0.7rem 1.2rem;
         @extend %fontweight-bold;
         color:var.$whitecolor;
         margin:0 0.5rem;
         @extend %transition;
         border:4px solid #{var.$maingreencolor};
         overflow: hidden;
 
         &:hover,
         &:active,
         &:focus{
 
           background-color:transparent !important;
           color:var.$subgreencolor;
           border-color:var.$lightgreen;
 
         }
         span:not(.text){
 
           @extend %span-effect;
           background-color:var.$maindarkbluecolor;
           
           }
 
           &:hover span:not(.text),
           &:active span:not(.text),
           &:focus span:not(.text){
           
             @extend %span-effect-hovered;
 
           }
 
       }
 
       &.active-tabs{
         
       a
       {
 
         background:var.$maindarkbluecolor;
         color:var.$subgreencolor;
         border-color:var.$lightgreen;
         
         span:not(.text){
           
           background-color:var.$maindarkbluecolor;
          @extend %span-effect-hovered;
         }
       }
     }
     }
   }
 
   &{
      .tab-content{
   
        padding-top:1rem;
        overflow: hidden;
 
        .tabs-item {
         display: none;

         .accordion{

          padding:0 1rem;
         }
        
         .card{
 
           margin-bottom:3rem;
           border: unset;
           background-color: var.$whitecolor;
           box-shadow: 0 5px 25px #e4e2e2;
           @extend  %border-radius;
 
           .card-header {
 
             padding: 1rem;
             cursor: pointer;
             @extend  %border-radius;
             background-color: var.$lightlightgraycolor;
             border-bottom:unset;
             h4,.card-icon{
 
               font-size: 1.5rem;
               color:var.$whitecolor;
               margin: auto 0;
              
             }
             h4{
 
               color:var.$maindarkbluecolor;
             }
             .card-icon{
 
               color:var.$maingreencolor;
               transform: rotate(180deg);
               @extend %transitionlesstime;
 
               
             }
 
             .card-icon.rotate{
 
               transform: rotate(0);
               
             }
           }
         .card-body{
 
           p{
              color:var.$darkgraycolor;
              font-size: 1.3rem
           }
           h5{
             margin-bottom: 1rem;
             @extend %fontweight-bold;
           }
           ul{
 
             list-style: square;
             margin-#{var.$right}: 1rem;
           }
           p,ul li a{
 
                 @extend %transition;
                 margin-#{var.$right}: 0;
               }
             }
            
           p:hover,ul li a:hover{
 
                 margin-#{var.$right}: 0.5rem;
               }
             }
          
       }
 
       .tabs-item:first-child {
         
         display: block;
       }
 
       }
     }
   }

/* //tabs */   
 