
/* directions */

$dir:rtl;
$right:right;
$left:left;

/* //directions */

/* color */

$whitecolor:#fff;
$whitegreencolor:#d0fad979;
$mainblackcolor:#212531;
$maindddarkbluecolor:#919294;
$maindarkbluecolor:#273457;
$mainldarkbluecolor:#2f4686;
$mainlldarkbluecolor:#314375;
$maingreencolor:#58B76C;
$subgreencolor:#75db8b;
$lightgreen:#a6e7b4;
$sublightgreen:#a6f8b7;
$lightlightgreen:#ccf7d5;
$maingraycolor:#8d8d8f;
$darkgraycolor:#535353;
$lightgraycolor:#b3b3b3;
$lllightgraycolor:#e9e9e9;
$llightgraycolor:#f8f8f8;
$lightlightgraycolor:#f5f8f6;

/* //colors */