
@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';



/* footer */
footer{


    @extend %prelative;
    padding:4rem 0;
    background-color:var.$maindarkbluecolor;
    overflow: hidden;

    &::before{

        content: " ";
        @include mixins.positionmixin;
        bottom:-7rem;
        #{var.$right}:0;
        #{var.$left}: 0;
        background: url(../images/global-vector.png);
        @include mixins.backgroundmixin(cover,bottom,no-repeat);
        transform: scaleY(-1);
       
    }

    .col-lg-8{

        margin:0 auto;

    }
    .navbar-brand{

       img{
           
         width:10rem;
         
       }
        
     }

     h4{

        color:var.$maingreencolor !important;
    }
    .download-apps{

        a{
            margin: 0 0.5rem;
        }
    }
    
  
}
/* //footer */

/* copy right */

.copy-right{

    display: flex;
    justify-content: center;
    align-items: center;
    padding:0.5rem 0;
    background-color: var.$maingreencolor;
    p{
        font-size:1.2rem;
        margin-bottom: 0;

        a{
    
            display: inline-block;
            color:var.$mainlldarkbluecolor;
            text-decoration: underline !important;
            @extend %fontweight-bold;
            transform: scale(1);
            @extend %transition;
            
        }
        &:hover{
            a{

              color:var.$lightlightgreen;
              transform: scale(1.1);

            }

        }
    }
}

/* //copy right */