
@use '../abstracts/variables' as var;
@use '../abstracts/mixins';




@font-face{

    font-family:Markazi Text;
    src:url(../fonts/MarkaziText-Regular.ttf);
  }

  %body{

    padding: 0;
    margin: 0;
    font-family: 'Markazi Text', serif;
    color:var.$mainblackcolor;
    font-size:1rem;
    background-color:#ffff;
    position: relative;
    width: 100%;
    height: 100%;
    line-height: 1.42857143;
    padding-#{var.$right}:0 !important;
    overflow: hidden;
  }

   
   .body-content-wrapper {
    
    overflow: hidden;
    min-height:100vh;
   }

   %prelative{
   
    position: relative;    
    z-index: 1;

  }

   %sec-p{

    padding:6rem 0;
    
   }
  %p-x{

   padding-#{var.$right}:1.2rem;
   padding-#{var.$left}:1.2rem;
   
   
  }
   %m-t{
   
    margin-top:1.5rem; 
   
    }

    %fontweight-bold{

    font-weight: 600;
   }
   %fontweight-regular{

    font-weight: 400;
   }
   %border-radius{

    border-radius: 0.5rem;

   }
   %border-radius-m{

    border-radius: 0.4rem !important;
    
   }
   %text-capitalize{

    text-transform: capitalize
  }

   %transition{

    @include mixins.prefixermixin(transition,all 0.5s ease-in-out,webkit moz o ms)

   }

   %transitionmeduimtime{

    @include mixins.prefixermixin(transition,all 0.4s linear,webkit moz o ms)

   }

   %transitionlesstime{

    @include mixins.prefixermixin(transition,all 0.3s ease-in-out,webkit moz o ms)

   }
   %transitioncubicbezier{

      @include mixins.prefixermixin(transition,all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55),webkit moz o ms);
 
   }
   %span-effect{

    position: absolute;
    display: block;
    width: 0;
    height: 0;
    background: transparent;
    transform: translate(-50%, -50%);
    z-index: -1;
    @extend  %transitionmeduimtime;
   
  }

   %span-effect-hovered{

    width: 400%;
    height: 562.5px;
   
   }

   %sticky-span-effect{

    
    top: 0 !important;
    bottom: 0 !important;
    #{var.$right}: 0 !important;
    #{var.$left}: 0 !important;
    width: 100%;
    height: 100%;
    transform: translate(0,0);
   
   }
  
   
   ul {
    
     padding: 0;
     margin: 0;
     list-style: none;
   }
   img {
     width: 100%;
     height: 100%;
   }
   
   a {
     text-decoration: none !important;
     cursor: pointer !important;
   
   }
   
   a.d-flex{
   
      align-items: center;
   
   }
   a,button{
   
     outline: none;
     box-shadow: none;
   }
   button:focus{
   
   outline: none !important;
   
   }
   .inline{
   
      display:inline-block; 
   }
   .line-2{
   
    float:var.$right;
   }


   h4{
   
     font-size:1.6rem;
     line-height: 30px;
   
   }
   h5{
   
     font-size:1.4rem;
   }
   h1,h2,h3,h4{

    @extend %fontweight-bold;
   }
   h5,h6{

    @extend %fontweight-regular;
   }
   p{
   
     font-size:1.4rem;
     color:var.$maingraycolor;
     line-height:32px;
   
  }
  .navbar-brand{

    margin-right: 0;
  }
  .arabic-language{

    display: none  !important;

  }
  .english-language{

    display:flex;

  }
  /* animation */

  /* close modal*/
  @include mixins.keyframemixin(rotate-icon) {

    0%{
  
        transform:rotate(0);
    }
    50%{
  
        transform:rotate(180deg);
  
    }
    100%{
  
         transform:rotate(0);
  
    }
  } 
  /* //close modal*/

  /* hero animation */

  .owl-hero .owl-item:nth-child(even).active  .head h2{
                    
    animation: 1s 0.1s fadeInRight both;
            
  }
  
  .owl-hero .owl-item:nth-child(odd).active  .head h2{
                    
    animation: 1s 0.1s fadeInUp both;
            
  }
  /* //hero animation */
  

  /* sticy top animate */

  
    @include mixins.keyframemixin(sticky-top-aniamte){

       0%{

        transform: translateY(-100%)
       }

       100%{

        transform: translateY(0);
       }

    }

    /* //sticy top animate */

   /* vertical horizental animate */

      @include mixins.keyframemixin(vert-horz-animate){

        0%{
 
           transform: translate(2px,8px)
        }
 
        50%{
 
          transform: translate(-2px,-8px)
        }
        100%{
 
          transform: translate(2px,8px)
        }
 
     }
    
     /* //vertical horizental animate */


    /* circle animate */

      @include mixins.keyframemixin(circle-animate){

        0%{
 
           transform: translateX(0);
           box-shadow: 0 0 0 5px #{var.$lightlightgreen};
        }
 
        100%{
 
          transform: translateX(-7rem);
          box-shadow: 0 0 0 8px #{var.$whitegreencolor};
        }
       
     }
     @include mixins.keyframemixin(circle-animate-center){

      0%{

         transform: translateX(4rem);
         box-shadow: 0 0 0 5px #{var.$lightlightgreen};
      }

      100%{

        transform: translateX(-4rem);
        box-shadow: 0 0 0 8px #{var.$whitegreencolor};
      }
     
   }
     /* //circle animate */
    
    /* rotate animate */

    @include mixins.keyframemixin(rotate-odd-aniamte){

      0%{

         transform: rotate(90deg);
      }

      50%{

        transform: rotate(-90deg);
        
      }
      100%{

        transform: rotate(90deg);
      }
     
   }

   @include mixins.keyframemixin(rotate-even-aniamte){

    0%{

       transform: rotate(-90deg);
    }

    50%{

      transform: rotate(90deg);
      
    }
    100%{

      transform: rotate(-90deg);
    }
   
 }

    /* //rotate animate */

    /* process circle animate */

    @include mixins.keyframemixin(proccess-circle-animate){

      0%{

         box-shadow: 0 0 0 5px #{var.$subgreencolor};
      }

      100%{

        box-shadow: 0 0 0 25px #{var.$whitegreencolor};
      }
     
   }
   /* //process circle animate */

  /* scroll top  animate */
  @include mixins.keyframemixin(scroll-top){

  49% {
      transform: translate(-20px,20px)
  }
  50% {

      transform: translate(20px,-20px)
  }
}
  /* //scroll top aniamte*/

  /* //animation */

  /* preloader */

  .preloader {

  position: fixed;
  top: 0;
  #{var.$right}: 0;
  #{var.$left}: 0;
  bottom: 0;
  background-color:var.$whitecolor;
  z-index: 10000000;
  /*clip-path: circle(1600px at 100% 20%);
  pointer-events: all;*/
  transform: translateY(0) scale(1);
  opacity: 1;
  visibility: visible;

  .preloader-status {

    position: absolute;
    #{var.$right}: 0;
    #{var.$left}: 0;
    top: 25%;
    width: 50%;
    height: 50%;
    display: block;
    margin: 0 auto;
    background-image: url(../images/preloader.gif);
    @include mixins.backgroundmixin(contain,center,no-repeat);
    z-index: 1;
  
    }
  }
  .loaded .preloader {

    opacity: 0;
    visibility: collapse;
   /*clip-path: circle(50px at 100% 0%);
   pointer-events:fill;*/
   transform: translateY(-100%) scale(0);
   border-radius:100%;
   background-color: var.$maindarkbluecolor;
   @extend %transition;
   transition-delay: 0.5s;
  }

  /* //preloader */
  

  
   

