
@use '../abstracts/variables' as var;
@use '../layouts/global';




 .head{

     @extend %prelative;
     display: flex;
     margin-bottom:2rem;
     color:var.$maindarkbluecolor;
    
     &.text-center{

      justify-content: center;
    

     }

   h2{

    font-size:2.8rem;
    @extend %text-capitalize;

   }
   
   h3{

    font-size:2.6rem;
    line-height: 3rem;
    padding-bottom: 1rem;
   /* border-bottom: 2px dotted #9cf0ae;*/
    &::before{

      content: "";
      position: absolute;
      bottom: -4px;
      #{var.$right}: 0;
      width: 0.65rem;
      height: 0.65rem;
      border-radius: 50%;
      box-shadow: 0 0 0 5px #{var.$lightlightgreen};
      background-color:#{var.$maingreencolor};
      transform: translateX(-7rem);
      background-color: var.$maingreencolor;
      animation: circle-animate 5s ease-in-out infinite forwards;
      z-index: 1;

    }

    &::after{

      content: "";
      position: absolute;
      bottom: 0;
      #{var.$right}: 0;
      #{var.$left}:0;
      width:7rem;
      height: 2px;
      border-bottom:2px dotted  #{var.$lightgreen};
    
    }


    }

    &.text-center{

      h3{

        &::before,
        &::after{

          #{var.$right}: 0;
          #{var.$left}: 0;
          margin:0 auto;
        }
        &::before{

          transform: translateX(4rem);
          animation: circle-animate-center 5s ease-in-out infinite forwards;
        }
      }
    }
  
   }
   .sub-head{

    margin-bottom: 1.5rem;

      h4{

        color:var.$maindarkbluecolor;
        @extend %text-capitalize;
      }
      h5{
       
        color:var.$maingraycolor;
        @extend %text-capitalize;

       }
   }
