
@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';


    
    /* header */
  
   .navbar-light{

    
    position: relative;
    z-index:1;
    @extend  %p-x;

    &::before{

      content: "";
      @include mixins.positionmixin;
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
      background-color: transparent;
      z-index: -1;

    }



    .nav-toggler{
 
      display: none;
      cursor: pointer;
  
  }
  .nav-toggler {
    
    background-color: transparent;
    border-radius: 0.2rem;
    padding:0;
    @extend %transition;

    span{
  
      display: block;
      width:2rem;
      height:3px;
      background:var.$maingreencolor;
      margin:5px 0;
  
  }
}
    .navbar{

      padding-#{var.$right}: 0;  
      padding-#{var.$left}: 0;
    
      .navbar-brand{

        width:8.5rem;
        @extend %transition;
        
      }

      .main-navbar{

        margin:0 auto !important;

      }       
      .sub-navbar{

        margin-#{var.$right}: auto;

        .nav-item{

          .nav-link{
    
          
              @extend %fontweight-bold;
            
        }

      }
        
      }
      .navbar-nav {

          .nav-item{
             
            padding: 0 0.3rem;
            .nav-link{
        
              display: flex;
              align-items: center;
              font-size: 1.4rem;
              padding: 0.3rem 0.5rem;
              border-radius:6px;
              color:var.$mainldarkbluecolor;
              @extend   %prelative;
              overflow: hidden;
              @extend %transitionmeduimtime;
            

              &:hover,
              &:active,
              &:focus,
              &.active{
               
                color:var.$subgreencolor;
                @extend %fontweight-bold;

              }
            
           
              span:not(.text):not(.icon){

              @extend %span-effect;
              background-color:var.$mainldarkbluecolor;
             
              }
              &:hover span:not(.text):not(.icon),
              &:active span:not(.text):not(.icon),
              &:focus span:not(.text):not(.icon){
              
                @extend %span-effect-hovered;

              }
                i{
          
                  font-size:1.1rem;
                  color:var.$maingreencolor;
                  padding:0 0.3rem;
                  display: flex;
                  align-items: center;
                  transform: scaleX(1);
                  @extend %transition;

                }
                &:hover i,
                &:active i,
                &:focus i{

                
                  color:var.$whitecolor;

                }

                &:hover i,
                &:active i,
                &:focus i{

                  transform: scaleX(-1);

                }

                
              
             }
             &.active{

              .nav-link{
                
                  
                  @extend %fontweight-bold;
                  
               }




             

             }
            
          }
      }
     
    }
    &.sticky-top{
      
    position: fixed;
    top: 0;
    #{var.$right}: 0;
    #{var.$left}: 0;
    width: 100%;
    z-index: 1000;
    
    &.sticky-top::before{

      box-shadow: 0 5px 3px #00000027;
      background: var.$maindarkbluecolor !important;
      @extend %transitionlesstime;
      animation:sticky-top-aniamte 0.4s linear forwards;
    

    }

    .nav-toggler {
    
      background-color: #fff;
      padding: 0.2rem 0.4rem;

     
    }
    .navbar{

      .navbar-brand{

        width:6rem !important;
        img{

          content: url(../images/logo-white.png);
        }
      }

      .navbar-nav {

        .nav-item{
           
          padding: 0 0.3rem;

          .nav-link{

            color:var.$whitecolor;
            

            &:hover,
            &:active,
            &:focus{
             
              color:var.$maingreencolor;

            }
            span:not(.text):not(.icon){

              background-color:var.$whitecolor;
             
              }

            &:hover i,
            &:active i,
            &:focus i{

                color:var.$maindarkbluecolor;

              }

  
          }
          &.active {

            .nav-link{

              color:var.$maingreencolor;
    
            }
          }

          &.active{ 
            .nav-link{

            span:not(.text):not(.icon){
           
             
              @extend   %sticky-span-effect;
                          
            
            }
         }
          }
          
        }
      }
    }
  }

  &.navbar-light-colored{


    &.navbar-light-colored:before{

       background: var.$maindarkbluecolor !important;
     
      }
    .nav-toggler {
    
      background-color: #fff;
      padding: 0.2rem 0.4rem;

     
    }
    .navbar{

      .navbar-brand{

        width:7rem;

      
      }

      .navbar-nav {

        .nav-item{
           
          padding: 0 0.3rem;

          .nav-link{

            color:var.$whitecolor;
            

            &:hover,
            &:active,
            &:focus,
            &.active{
             
              color:var.$maingreencolor;

            }
            span:not(.text):not(.icon){

              background-color:var.$whitecolor;
             
              }

            &:hover i,
            &:active i,
            &:focus i,
            &.active i{

                color:var.$maindarkbluecolor;

              }

            &.active{

              background-color:var.$whitecolor;

            }

  
          }
          &.active {

            .nav-link{

              color:var.$maingreencolor;
    
            }
          }

          &.active{ 
            .nav-link{

            span:not(.text):not(.icon){
           
             
              @extend   %sticky-span-effect;
                          
            
            }
         }
          }
          
        }
      }
    }
  }
   }
  /* //header */
  