
@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use './global';


/*--media query--*/
@media screen and (max-width:1340px) and (min-width:1201px){
    
  /* header */
  .navbar-light{
    
    .navbar {
      
    .navbar-brand {
          width: 5.5rem;
   
      }
      .navbar-nav {
         
        .nav-item  {

          .nav-link {
   
           font-size: 1.25rem;
          

      }
     }
   }
      
    
    }

  }

  /* //header */

  /* hero */
  .hero-sec {
  
  .overlay-shape {
 
      width: 55%;
      height:900px;
  
    }
  }
  /* //hero */




}
@media screen and (max-width:1200px) and (min-width:1121px){
    
 /* header */

 .navbar-light {
     
  .navbar {

  .navbar-brand {
       
    width:4.5rem;
    
    }
    .navbar-nav { 
      .nav-item  {
        .nav-link {
 
     font-size: 1.1rem;

    }
  }
}

  }
}

/* //header */


    /* hero */
    .hero-sec {
    
    .overlay-shape {

        width: 55%;
        height: 800px;
        #{var.$left}: -50px;
      }
    }
    /* //hero */


     /* work process */
    .work-process-sec{

        &::before {

    
            #{var.$left}: -100px;

        }
    }
        /* //work process */


}
@media screen and (max-width:1120px){
    

  /* header */

  .navbar-light {
     
    .navbar {

     .navbar-brand {
       
      width:5rem;
      
      }
      
      .navbar-nav {
         
        .nav-item  {

          .nav-link {
   
           font-size: 1rem;
          

      }
     }
   }
  }
  }
  /* //header */

    /* hero */
    .hero-sec {
    
    .overlay-shape {

        width:60%;
        height: 800px;
      }
    }
    /* //hero */


    .work-process-sec{

        &::before {

    
            #{var.$left}: -250px;

        }
    }


}
@media screen and  (max-width:1024px){
    

   /* header */

  .navbar-light {
    
    .navbar {
  
      .navbar-brand {
       
        width:5rem;
   
      }
      .navbar-nav {
         
        .nav-item  {
          
          .nav-link {
   
            padding: 0.3rem 0.3rem;

      }
     }
   }
    }
  }
  /* //header */

    /* hero */
    .hero-sec {
    
      .overlay-shape {
  
          width:55%;
          height:700px;
        }
      }
      /* //hero */

   /* worK process */
    .work-process-sec{

        &::before {

    
            #{var.$left}: -250px;

        }
    }
     /* //work process */


}
@media screen and (max-width:991px) {


    /* form */ 
    .row {

      .col-md-12{
  
          padding-left:15px;
          padding-right: 15px
      }
  }
   /* form control*/
   
  .form-groups{

    .form-group:first-of-type{

        margin-bottom: 1.3rem;
      }
   }
   /* //form control*/ 
   /* //form */ 

    .account-steps-sec,
    .work-process-sec{

        .col-md-12{
            
            margin-bottom: 2rem;


        }
    }

    /* header */

    .navbar-light{

     position: absolute;
     width: 100%;
     z-index: 1000;

     .navbar {
  
      .navbar-brand {
       
        width:8.5rem;
   
      }
    }

    .nav-toggler{

        display:block;
        z-index: 100;  
        
        &.toggle {
        
            span:nth-child(1){
        
            transform: rotate(-45deg) translate(-5px,6px);
          }
        }
        
        &.toggle {
            
            span:nth-child(2){
            
            width:0;
            margin: 0;
            @include mixins.prefixermixin(transition,all 0.7s ease-in-out,webkit moz o ms)

        
        }
    
        }
        &.toggle{ 
            
            span:nth-child(3){
            
            transform: rotate(45deg) translate(-5px,-6px);
            
        }
         }
    
    }

    .navbar-collapse{

        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right:0;
        width: 100%;
        height: 100%;
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
        background:var.$whitecolor;
        overflow-y: auto;
        overflow-x: hidden;
        clip-path: circle(50px at -0% -20%);
        pointer-events: none;
        @include mixins.prefixermixin(transition,all 0.6s ease-in-out,webkit moz o ms)

    }
    .navbar-collapse.open{
    
        clip-path: circle(1300px at -0% -10%);
        pointer-events: all;
          
    }

    &.navbar-light-colored{

      .navbar-collapse{
    
  
      background: var.$maindarkbluecolor !important;
      }

 

 }

    .navbar{

        .sub-navbar{

            margin-#{var.$right}:auto !important;
            margin-#{var.$left}:auto !important;
        }
    
       .navbar-nav {
        
        .nav-item{
        
            opacity: 0;
            transform: translateX(50%);
            @include mixins.prefixermixin(transition,all 0.5s ease-in-out,webkit moz o ms);
            color: #2f4686;


            .nav-link{

                justify-content: center;
            }
            
        }
        .nav-item.fade{
           
            opacity: 1;
            transform: translateX(0);

        }

        }
    
    }

    &.sticky-top{
    .navbar-collapse{

      
        background:var.$maindarkbluecolor;
        
        
      }
    }

   
    
    }
    /* //header */

    /* hero */
    .hero-sec {

        height: 100%;
        padding-top:12rem;
        
       
        &::before {
        
            top:0;
            background: url(../images/vector-gray-resp.png);
            @include mixins.backgroundmixin(cover,center,no-repeat);
            

        }

        .overlay-shape {

            position: relative;
            top: 0;
            #{var.$left}: 0;
            margin: 2rem auto 0;
            width: 90%;
            height: 1000px;
            @include mixins.backgroundmixin(cover,center,no-repeat);
            z-index: 1;
         }
 
    
    }

    /* //hero */

    /* hero markets */

    .hero-markets-sec {
       
         .overlay-shape {
        
           width: 100% !important;
           height: 600px !important;
           margin-top:0 !important;
     
        }

    }

    /* //hero markets */


     /* about */

        .about-sec{

          .content{
   
           .box-list {
   
              flex-flow: column;
           }
           ul {
   
               li{
   
                   a{
   
                       height: auto;
                       margin-#{var.$right}:0 !important;
                       margin-#{var.$left}:0 !important;
                   }
               }
           }
        }
       }
   
       /* //about */

     
/* account steps */
.account-steps-sec{

    

    .row{


      &::before{

      display: none;

      }
    }

    .col-lg-4:first-child,
    .col-lg-4:last-child{

      .content{

           margin-top:0 !important

      }

    }
}
/* //account steps */


/* work process */
.work-process-sec{
    
     &::before {

      top: 55%;
      #{var.$left}: 0;
      background: url(../images/vector-dark-blue-resp.png);
      @include mixins.backgroundmixin(900px,unset,no-repeat);

    }
   
  }
/* //work process */




/* subscribe */

.subscribe-sec {
  
  .content {
  
    margin-top: 5rem;

  }
}

/* //subscribe */




}
@media screen and (max-width:880px) {


  /* hero */
  .hero-sec {
      


      .overlay-shape {

          
          width: 100%;
          height: 1050px;
        
       }

  
  }

   /* //hero */


}
@media screen and (max-width:768px){


  /* preloader */
    .preloader {

    .preloader-status {
        top: 0;
        width: 100%;
        height: 100%;
    }
  }
   /* //preloader */
    /* tabs */
    .tab {
        
        ul {
      
        flex-flow: column;
        li:not(:last-child){
            a{
            margin-bottom:1.5rem;
        }

   
         }
         li{

            a{

                margin-#{var.$right}: 0 !important;
                margin-#{var.$left}: 0 !important;
            }
        }
    }
    }
    /* //tabs */



    /* hero */

      .hero-sec {

    
    
        .overlay-shape {

        
            width:100%;
            height:800px;
            
         }

    }

     /* //hero */

    /* services */
     .services-sec{

    
         &::before,
         &::after{
 
           @include mixins.backgroundmixin(cover,center,no-repeat);
           z-index: -1;
           transform: scaleY(-1);
 
         }

        }
     /* //services */

     
   /* work process */
.work-process-sec{
    
    &::before {

     top: 60%;
     @include mixins.backgroundmixin(800px,unset,no-repeat);

   }
  
 }
/* //work process *

  
  /* conatct us */

  .contact-us-sec {
    
    .content {
       .contact-list {
            
            ul{

                flex-flow: column;
                li:not(:last-child){

                    a{

                        margin-bottom:1rem;
                    }
                }


            }

    
        }
       .social-list{

        ul{

            justify-content: flex-start !important;

        }

       }
}
  }

  /* //conatct us */

  /* markets work */


  .markets-work-sec {
  
    .content {
      
      .icon{

        margin-bottom: 1.2rem;

      }
      h4,
      p{
        text-align: center;
      }
    }
  }

  /* //markets work */

}
@media screen and (max-width:575px){


    
    .hero-sec,
     .about-sec,
      .services-sec,
      .account-steps-sec, 
      .work-process-sec, 
      .contact-us-sec,
      .subscribe-sec,
      .navbar-light {
        padding-#{var.$right}:0 !important;
        padding-#{var.$left}:0 !important;
      }
    /* hero */

      .hero-sec {


        .overlay-shape {

           

            width:100%;
            height:700px;
           
         }
 
    
    }

     /* //hero */
     /* hero markets */

    .hero-markets-sec {
       
      .overlay-shape {
     
        height: 350px !important;
  
     }

 }

 /* //hero markets */

    /* work process */
    .work-process-sec{
    
     &::before {

      top: 62% !important;
      background: url(../images/vector-dark-blue-resp.png);
      @include mixins.backgroundmixin(700px,unset,no-repeat);

    }
   
  }

  /* //work process */



}
@media screen and (max-width:500px){


     /* hero */

     .hero-sec {


        .overlay-shape {

           

            height:600px;
           
         }
 
    
    }

     /* //hero */
    /* work process */
    .work-process-sec{
    
     &::before {

      top: 65% !important;
      background: url(../images/vector-dark-blue-resp.png);
      @include mixins.backgroundmixin(700px,unset,no-repeat);

    }
   
  }

  /* //work process */



}
@media screen and (max-width:425px){


    /* hero */

    .hero-sec {


       .overlay-shape {

     
           height:550px;
 
        }
        .download-apps{
            flex-flow: column;
     
       a:not(:last-child){
 
         margin-bottom: 1rem;
        
       }
     }

   
   }

    /* //hero */
   /* work process */
   .work-process-sec{
   
    &::before {

     top:70% !important;
     background: url(../images/vector-dark-blue-resp.png);
     @include mixins.backgroundmixin(550px,unset,no-repeat);

   }
  
 }

 /* //work process */



}
@media screen and (max-width:375px){


    /* hero */

    .hero-sec {


       .overlay-shape {

     
           height:500px;
          
        }

   
   }

    /* //hero */
   /* work process */
   .work-process-sec{
   
    &::before {

     top:75% !important;
     background: url(../images/vector-dark-blue-resp.png);
     @include mixins.backgroundmixin(550px,unset,no-repeat);

   }
  
 }

 /* //work process */



}
@media screen and (max-width:320px){


    /* hero */

    .hero-sec {


       .overlay-shape {

     
           height:400px;
          
        }

   
   }

    /* //hero */
   /* work process */
   .work-process-sec{
   
    &::before {

     top:80% !important;
     background: url(../images/vector-dark-blue-resp.png);
     @include mixins.backgroundmixin(400px,unset,no-repeat);

   }
  
 }

 /* //work process */



}
/*--//media query--*/
