
@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';


/* hero */

 %p-h-x{

  padding:0 0.5rem;
}
.hero-sec{

    height: 800px;
    @extend %prelative;
    @extend  %p-x;


    &::before{

        content: "";
        @include mixins.positionmixin;
        top: 0;
        #{var.$right}:0;
        background: url(../images/vector-gray.png);
        @include mixins.backgroundmixin(cover,center,no-repeat);
        transform: scaleX(-1);
        z-index:-2

    }

    .owl-carousel{

    
     
       .owl-item:not(.active){

       .head{
           h2{

            opacity:0.2;
           }
        }
      }
     
    }
  

    .download-apps{

        a:not(:last-child){
            margin-#{var.$left}:0.7rem;
      
      }
      a{

        img{

          width:13rem;
      }
      }
    }

    .overlay-shape{
    
      position: absolute;
      top: -25px;
      #{var.$left}: -95px;
      width: 60%;
      height:1050px;
      background: url(../images/mobile-mockup.png);
      @include mixins.backgroundmixin($size:cover,$repeat:no-repeat);
      animation: vert-horz-animate 3s linear infinite forwards;
      z-index: -1;

  }

 
}
/* //hero */

/* about */
.about-sec{

    @extend %prelative;
    @extend %sec-p;
    @extend  %p-x;

    .content{
    .paragh{

        p{

            width:90%;
        }
    }

    ul {

        li{
 
            a{

                @extend %prelative;
                display: flex;
                align-items: flex-start;
                font-size: 1.25rem;
                color:var.$mainblackcolor;
                padding: 1rem;
                margin:1.2rem 0 0 1.2rem;
                background-color:var.$whitecolor;
                box-shadow: 0 2px 30px #e9e9e9;
                border-radius: 0.7rem;
                height:6rem;
                border-#{var.$right}:4px solid #{var.$mainblackcolor}; 
                @extend  %transition;
                overflow: hidden;

                &::before{

                  content: "";
                  @include mixins.positionmixin;
                  top: 0;
                  #{var.$right}: 0;
                  background-color:var.$whitecolor;
                  transform: translateX(100%);
                  @extend  %transition;
                  z-index:-1;

                }

                &:hover::before{

                    transform: translateX(0) !important;
                  
                }
                
                  i{

                    color:var.$maingreencolor;
                    margin-#{var.$left}:0.5rem;
                    @extend  %transition;
                    
                  }
                &:hover{

                    @extend %fontweight-bold;
                    color:var.$whitecolor !important;            
                    box-shadow: 0 5px 50px #6c757dad  !important;

                    i{
                    
                        margin-#{var.$left}:0.7rem;
                        color:var.$whitecolor;

                    }
                }
              
                
               
            }

         
        }  
        
       &{
           li:nth-child(odd){
            a:hover::before{

                background-color:var.$maingreencolor;
              
              }
              a:hover{

                border-color:var.$maindarkbluecolor;
                
              }
            }
       }

       & {

        li:nth-child(even){
        a:hover::before{

            background-color:var.$maindarkbluecolor;
          
          }
          a:hover{

            border-color:var.$maingreencolor;

          }
        }
       }

      /* &:last-child {
           li:nth-child(odd){
            a:hover::before{

                background-color:var.$maindarkbluecolor;
              
              }
              a:hover{

                border-color:var.$maingreencolor;
    
              }
       }
       }

       &:last-child {
           li:nth-child(even){
        a:hover::before{

            background-color:var.$maingreencolor;
          
          }
          a:hover{

            border-color:var.$maindarkbluecolor;

          }
        }
       }*/
    }
  }

}

/* //about */

/* services */

%globalvectorimg{

    background:url(../images/global-vector.png);

}
   .services-sec{

       @extend %prelative;
       @extend %sec-p;
       @extend  %p-x;
       background:var.$maindarkbluecolor;
       overflow: hidden;

        &::before,
        &::after{

          content: "";
          @include mixins.positionmixin;
          top:0;
          bottom: 0;
          #{var.$right}: 0;
          #{var.$left}: 0;
          @extend %globalvectorimg;
          @include mixins.backgroundmixin(contain,bottom,repeat);
          z-index: -1;
          transform: scaleY(-1);

        }

        &::after{

          @include mixins.backgroundmixin(contain,inherit,repeat);
         

        }

        .head{ 
               
              h3
              {
                &::before {

                box-shadow: 0 0 0 5px #aafdbb;
                background-color: #6edc85;

              }
              &::after {
         
                border-color: 2px dotted #a9faba;
              }
            }
        }
      
        
       .col-lg-4{

        margin-bottom:2rem;
       } 
       .content{
         
          @extend %prelative;
          background-color: #fff;
          box-shadow: 0 0 50px #182341, 0 0 25px #e9e9e9 inset;
          border-radius:0.7rem;
          padding:2rem;
          height: 100%;
          overflow: hidden;
          transform: translateY(0);
          @extend %m-t;
          @extend %transition;

          &:hover{

            transform: translateY(-10px);
            box-shadow: 0 0 5px #ffffff62;
          /*  overflow: unset;*/
          }
          &::before, 
          &::after{

            content: "";
            bottom:0;
            #{var.$right}: 0;
            #{var.$left}: 0;
            border-radius: 0.9rem;
            z-index: -1;

          }
          &::before{
            
            position: absolute;
            width: 100%;
            height: 10px;
            display: block;
            margin: 0 auto;
            text-align: center;
            background: linear-gradient(to #{var.$right},#58f87b  , #33683e ,#58f87b );
            @extend %transition;
           

          }

          &::after{

            content: "";
            @include mixins.positionmixin;
            @extend %globalvectorimg;
            @include mixins.backgroundmixin(650px,inherit,repeat);
            @extend %transition;
            z-index:-2;
          
          }
        
         &:hover{

          &::before,
          &::after{

          border-radius:0.3rem;

         }

        }
          &:hover
          {
            &::before{

            height:100%;
            background: linear-gradient(to  #{var.$right}, #58f87b94, #58b76ce0, #1d8635);

          }
        }

          &:hover
          {
            &::after{

            top: 0;
            bottom: unset;
            background: url(../images/services-img.jpg);
            @include mixins.backgroundmixin(cover,top,no-repeat);
            
          }
        }
          .icon{

            overflow: hidden;
            padding:1.5rem 0 0;
         
            a {

               display: flex;
               justify-content: center;
               align-items:center;
               margin-bottom:1rem;
               @extend %prelative;
              

               &::before{

                content: "";
                @include mixins.positionmixin;
                top: -15px;
                bottom: 0;
                #{var.$right}:0;
                #{var.$left}: 0;
                background:url(../images/green-shape-vector.png);
                @include mixins.backgroundmixin(contain,center,no-repeat);
                opacity:1;
                visibility: visible;
                @extend %transition;
                z-index: -1; 

              }

               i{

                 font-size:5rem;
                 color:var.$maindarkbluecolor;
                 line-height: 0;
                 @extend %transition;
               }
            }
          
          }

          &:hover{
             .icon{
            a{
              &::before{

                opacity: 0;
                visibility: collapse;

                
              }

              i{

                color:var.$whitecolor;

              }
              
            }
          }
        }


            h4,p{

              @extend %transition;
            }
            &:hover{

              h4,p{

                color:var.$whitecolor;
              }
            }

       }

        .col-lg-4:nth-child(odd){
          .content{
            a {

              &::before{
                animation: rotate-odd-aniamte 7s ease-in infinite;
                transition-delay:0.5s;
              }
            }
          }

        }

        .col-lg-4:nth-child(even){
          .content{
            a {

              &::before{
                animation: rotate-even-aniamte 7s ease-out infinite;
                transition-delay:0.7s;
              }
            }
          }

        }

   }

/* //services */

/* account steps */
.account-steps-sec{

    @extend %sec-p;
    @extend  %p-x;

    .row{

      @extend %prelative;

      &::before{

        content: "";
        @include mixins.positionmixin;
        top:-60px;
        bottom:0;
        #{var.$right}:0;
        #{var.$left}:0;
        background: url(../images/vector-dots.png);
        @include mixins.backgroundmixin(auto,center,no-repeat);
        z-index: -1;

      }
    }

    .content{

      @extend %m-t;

      .svg-icon{

        svg{

          width: 7rem;
        }


      }
      .svg-icon svg,
      h4{

        @extend %transition;

      }
      &:hover{

        .svg-icon{

          svg{
          width: 8rem;
          }
        }
      }
      &:hover{

        h4{

          color:var.$maingreencolor;
        }
      }
    }

    .col-lg-4:first-child,
    .col-lg-4:last-child{

      .content{
          margin-top:7rem !important
      }

    }
}
/* //account steps */

/* work process */

.work-process-sec{

    @extend %prelative;
    @extend %sec-p;
    @extend  %p-x;

    &::before{

      content: "";
      position: absolute;
      width:100%;
      height:100%;
      top:0;
      #{var.$left}:0;
      background: url(../images/vector-dark-blue.png);
      @include mixins.backgroundmixin(cover,#{var.$left},no-repeat);
      z-index:-1;

  }
   
    .content{

      @extend %m-t;

      ul {

        li{

          @extend %prelative;
         
          &::before{

            content: "";
            position:absolute;
            top:0;
            bottom: 0;
            #{var.$right}: 1rem;
            width: 0.65rem;
            height: 100%;
            background-color:var.$lightlightgraycolor;
            border: 0.2rem dotted #{var.$lightgreen};
            z-index: -2;

           }
           &:last-child{

            &::before{

              display:none;
            }
           }
          a{

           position: relative; 
           display:inline-block;
           font-size: 1.3rem;
           margin-bottom:1.5rem;
           @extend %transition;

           span{

            display: flex;
           }
          .count{
 
            position: absolute;
            align-items: center;
            justify-content:center;
            width:3rem;
            height:3rem;
            text-align: center;
            border-radius: 50%;
            font-size: 1.5rem;
            @extend %fontweight-bold;
            background-color:var.$maindarkbluecolor;
            border:6px solid #{var.$lightgreen};
            box-shadow: 0 0 0 5px #{var.$subgreencolor};
            color:#fff;
            @extend %transition;
            z-index: -1;
          
          }

          &:hover{

            .count{
              animation: proccess-circle-animate 1s ease-in-out infinite;

            }
          }

          .sub-head{
           
            flex-flow: column;
            margin-#{var.$right}:4rem;
            @extend %transition;
            h4{

              margin-bottom: 0.5rem;
            }

            
          
            
          }

          &:hover{

            .sub-head{

              margin-#{var.$right}:4.5rem;

            }
          }
          }
        }
      }
    }
    .col-lg-7{

      margin-#{var.$right}: auto;

    }
    .image{

      animation: vert-horz-animate 3s linear infinite forwards;
    
    }

}
/* //work process */

/* common questions */
.common-questions-sec{

  @extend %prelative;
  @extend %sec-p;

}

/* //common questions */


/* contact us */

.contact-us-sec{

  @extend %prelative;
  @extend  %p-x;
  background-color:var.$lightlightgraycolor;
  padding-top:3rem;
  padding-bottom: 3rem;

  &::before{

    content: " ";
    @include mixins.positionmixin;
    bottom:0;
    #{var.$right}:0;
    #{var.$left}: 0;
    background: url(../images/map-vector.png);
    @include mixins.backgroundmixin(cover,center,no-repeat);
   
   
   }
  .content{
       
    
   @extend %m-t;

   .col-lg-5{

    margin-#{var.$right}: auto;
   }
   .contact-list{
  
   ul {

    li{

      a{
        display:flex;
         font-size: 1.4rem;
         text-align: #{var.$right};
         color:var.$mainblackcolor;
         padding:0;

        span{

          strong{

            display: block;
            color:var.$maingreencolor;

          }
        }
        .icon{

          font-size:2.5rem;
          color:var.$maindarkbluecolor;

        }
        .text{

          margin-#{var.$right}: 1rem;
          transform: scale(1);
          @extend %transition;

        }
        &:hover{

          .text{

            transform: scale(1.1);
          }
        }
      }
    }
  }
   }

   .social-list{
     ul{

      li{

        a{
          
          display: flex;
          justify-content: center;
          align-items: center;
          width: 2.5rem;
          height: 2.5rem;
          margin:0 0.5rem;
          @extend %border-radius;
          background-color: var.$whitecolor;
          border:0.2rem dotted var.$maingreencolor;
          color:var.$maindarkbluecolor;
          box-shadow: 0;
          @extend   %prelative;
          overflow: hidden;
          transform: translateY(0);
          @extend %transition;

          &:hover,
          &:active,
          &:focus{

            background-color:var.$maingreencolor;
            border-color: var.$maindarkbluecolor;
            color:var.$whitecolor;
            box-shadow:0 0 25px #{var.$subgreencolor};
            transform: translateY(-5px);

          }

          span:not(.icon){

            @extend %span-effect;
            background-color:var.$maingreencolor;
           
            }
            &:hover span:not(.icon),
            &:active span:not(.icon),
            &:focus span:not(.icon){
            
              @extend %span-effect-hovered;

            }

            i{

              height: 100%;
              display: flex;
              align-items: center;
            }


        }
      }
     }

   }
  }
}

/* //contact us */


