
@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';


/* hero markets */
.hero-markets-sec{


    .overlay-shape{
    
        position: absolute;
        top:5rem;
        #{var.$left}:0 !important;
        width:50% !important;
        height:100% !important;
        background: url(../images/hero-markets-vector.svg) !important;
        @include mixins.backgroundmixin($size:contain !important,$position:top !important,$repeat:no-repeat !important);

    
    }
  
}
/* //hero markets */


/* markets work */

.markets-work-sec{
 
    @extend %sec-p;

    .col-lg-6{

        padding-bottom:2rem;

    }
    .content{

        @extend %m-t;

        .icon{

            margin:0 auto;
            text-align: center;
            

            img{

                width:5rem;
                transform: scaleX(1);
            }
        }

        .icon{

            img{

                @extend %transition;
            }
        }
        h4{
  
          @extend %transition;
  
        }
        &:hover{
  
          .icon{
  
            img{

                transform: scaleX(-1);
                width:6rem;
            }
          }
        }
        &:hover{
  
          h4{
  
            color:var.$maingreencolor;
          }
        }
    }

}

/* //markets work */


/* markets developers */
.markets-developers-sec{

    .tab{


     .tab-content{
         
        .tabs-item{

            .card{

                background-color: var.$lightlightgraycolor;
                box-shadow: 0 5px 7px rgba($color: var.$lightgraycolor, $alpha: 0.6);
                
                .card-body{

                    font-size:1.2rem;
                    direction:ltr;
                    text-align: left;

                    h5{

                        color:var.$maindarkbluecolor;
                        @extend  %fontweight-regular;
                    }

                    ul {

                        list-style: none !important;
                        padding:0;
                        margin: 0;
                        li{

                            a{

                               margin-bottom: 0.3rem;
                             
                            }
                        }
                    }
                    span{

                        color:var.$maingreencolor;
                        @extend  %fontweight-bold;
                        
                    }
                }
            
            }

        }
      }
    }
}
/* //markets developers */
