@use '../abstracts/variables' as var;
@use '../abstracts/mixins';
@use '../layouts/global';

/* subscribe */
.subscribe-body{
    
    overflow-x:hidden !important;
    
}
.subscribe-sec{


    @extend %prelative;
    @extend  %p-x;

    &:before{

        content: "";
        @include mixins.positionmixin;
        top: 0;
        #{var.$right}:0;
        background: url(../images/map-vector.png);
        @include mixins.backgroundmixin(contain,center,repeat);
        transform: scaleX(-1);
        opacity: 0.7;
        z-index:-1;
    
    }
   
    .content{

       padding:3.5rem 0;
        
    }
}

/* //subscribe */