@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?040628e83cfa20069fac0b69bcefd68d") format("truetype"),
url("./flaticon.woff?040628e83cfa20069fac0b69bcefd68d") format("woff"),
url("./flaticon.woff2?040628e83cfa20069fac0b69bcefd68d") format("woff2"),
url("./flaticon.eot?040628e83cfa20069fac0b69bcefd68d#iefix") format("embedded-opentype"),
url("./flaticon.svg?040628e83cfa20069fac0b69bcefd68d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-user:before {
    content: "\f101";
}
.flaticon-network:before {
    content: "\f102";
}
.flaticon-invoice:before {
    content: "\f103";
}
.flaticon-money:before {
    content: "\f104";
}
.flaticon-protection:before {
    content: "\f105";
}
.flaticon-rights:before {
    content: "\f106";
}
.flaticon-sprout:before {
    content: "\f107";
}
.flaticon-tree:before {
    content: "\f108";
}
.flaticon-gear:before {
    content: "\f109";
}
.flaticon-social-distancing:before {
    content: "\f10a";
}
