$flaticon-font: "flaticon";

@font-face {
    font-family: $flaticon-font;
    src: url("./flaticon.ttf?040628e83cfa20069fac0b69bcefd68d") format("truetype"),
url("./flaticon.woff?040628e83cfa20069fac0b69bcefd68d") format("woff"),
url("./flaticon.woff2?040628e83cfa20069fac0b69bcefd68d") format("woff2"),
url("./flaticon.eot?040628e83cfa20069fac0b69bcefd68d#iefix") format("embedded-opentype"),
url("./flaticon.svg?040628e83cfa20069fac0b69bcefd68d#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

$flaticon-map: (
    "user": "\f101",
    "network": "\f102",
    "invoice": "\f103",
    "money": "\f104",
    "protection": "\f105",
    "rights": "\f106",
    "sprout": "\f107",
    "tree": "\f108",
    "gear": "\f109",
    "social-distancing": "\f10a",
);

.flaticon-user:before {
    content: map-get($flaticon-map, "user");
}
.flaticon-network:before {
    content: map-get($flaticon-map, "network");
}
.flaticon-invoice:before {
    content: map-get($flaticon-map, "invoice");
}
.flaticon-money:before {
    content: map-get($flaticon-map, "money");
}
.flaticon-protection:before {
    content: map-get($flaticon-map, "protection");
}
.flaticon-rights:before {
    content: map-get($flaticon-map, "rights");
}
.flaticon-sprout:before {
    content: map-get($flaticon-map, "sprout");
}
.flaticon-tree:before {
    content: map-get($flaticon-map, "tree");
}
.flaticon-gear:before {
    content: map-get($flaticon-map, "gear");
}
.flaticon-social-distancing:before {
    content: map-get($flaticon-map, "social-distancing");
}
